<div class="col-md-4 hidden-xs hidden-sm text-right"id="sidebar"/>
  <!-- No sidebar on small screens -->
  <b><a href="index.html">Home</a></b><br>
  <a href="callforpapers.html">Call for Papers</a><br>
  <a href="callforworkshops.html">Call for Workshops</a><br>
  <a href="authorinfo.html">Authors' Information</a><br>
  <a href="presentationinstructions.html">Presentation Instructions</a><br>
  <a href="http://www.roboticsproceedings.org/rss12/" target="_blank">2016 Proceedings</a><br>
  <a href="http://www.roboticsproceedings.org/" target="_blank">Past Proceedings</a><br>
  <a href="http://www.roboticsfoundation.org/" target="_blank">RSS Foundation</a><br>
  <br>
  <b>Events</b><br>
  <a href="programoverview.html">Program Overview</a><br>
  <a href="technicalprogram.html">Technical Program</a><br>
  <a href="invitedtalks.html">Invited Talks</a><br>
  <a href="careerspotlight.html">Early Career Spotlight</a><br>
  <a href="tours.html">Mcity/Lab Tours</a><br>
  <a href="workshops.html">Workshops</a><br>
  <a href="awards.html">Awards</a><br>
  <br>
  <b>Commitees</b><br>
  <a href="orgcom.html">Organizing Committee</a><br>
  <a href="programcommittee.html">Program Committee</a><br>
  <a href="foundationboard.html">RSS Foundation Board</a><br>
  <a href="advisoryboard.html">RSS Advisory Board</a><br>
  <br>
  <b>Attending</b><br>
  <a href="venue.html">Venue</a><br>
  <a href="accommodations.html">Accommodations</a><br>
  <a href="registration.html">Registration</a><br>
  <a href="localinfo.html">Local Information</a><br>
  <br>
  <b>Sponsor</b><br>
  <a href="sponsors.html">Sponsorship</a><br>
  <br>
  <b>Additional Info</b><br>
  <a href="docs/rss2016poster.pdf" target="_blank">Poster</a><br>
  <a href="docs/rss2016flyer.pdf" target="_blank">Flyer</a><br>
</div>
