<div class="header">
  <div class="container">
    <div class="row hidden-sm hidden-xs">
      <div class ="col-lg-2 col-lg-offset-2 col-md-3 col-md-offset-1 text-right">
        <img src="img/header_left.png">
      </div>
      <div class ="col-md-8 col-lg-6">
        <img src="img/header_right.png" width="100%">
      </div>
    </div>
    <div class="row hidden-md hidden-lg hidden-xl">
      <div class ="col-xs-3">
        <img src="img/header_left.png" width="100%">
      </div>
      <div class ="col-xs-9">
        <img src="img/header_right.png" width="100%">
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-default" data-spy="affix" data-offset-top="215">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 col-md-offset-4">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">RSS 2016</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Home<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="callforpapers.html">Call for Papers</a></li>
                <li><a href="callforworkshops.html">Call for Workshops</a></li>
                <li><a href="authorinfo.html">Authors' Information</a></li>
                <li><a href="presentationinstructions.html">Presentation Instructions</a></li>
                <li><a href="http://www.roboticsproceedings.org/rss12" target="_blank">2016 Proceedings</a></li>
                <li><a href="http://www.roboticsproceedings.org/" target="_blank">Past Proceedings</a></li>
                <li><a href="http://www.roboticsfoundation.org/" target="_blank">RSS Foundation</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="programoverview.html">Program Overview</a></li>
                <li><a href="technicalprogram.html">Technical Program</a></li>
                <li><a href="invitedtalks.html">Invited Talks</a></li>
                <li><a href="careerspotlight.html">Early Career Spotlight</a></li>
                <li><a href="tours.html">Mcity/Lab Tours</a></li>
                <li><a href="workshops.html">Workshops</a></li>
                <li><a href="awards.html">Awards</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Committees<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="orgcom.html">Organizing Committee</a></li>
                <li><a href="programcommittee.html">Program Committee</a></li>
                <li><a href="foundationboard.html">RSS Foundation Board</a></li>
                <li><a href="advisoryboard.html">RSS Advisory Board</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Attending<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="venue.html">Venue</a></li>
                <li><a href="accommodations.html">Accommodations</a></li>
                <li><a href="registration.html">Registration</a></li>
                <li><a href="localinfo.html">Local Information</a></li>
              </ul>
            </li>
            <li><a href="sponsors.html">Sponsors</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
