.header { background-color: #ffcb05;}
.content { margin-top:-20px; }

h3 {text-align: left;}

/* Always show vertical scrollbar, otherwise grid shifts */
html { overflow-y: scroll;}

#sidebar a:link{ color:#333333; }
#sidebar a:visited{ color:#333333; }
#sidebar a:hover{ color:#024794; }
#sidebar a:active{ color:#333333; }

.agenda {  }

/* Dates */
.agenda .agenda-date .dayofmonth {
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px;
}
.agenda .agenda-date .shortdate {
  font-size: 0.75em;
}


/* Times */
.agenda .agenda-time {text-align: right}


/* Events */
.agenda .agenda-events {  }
.agenda .agenda-events .agenda-event {  }


/* Committee Name and Affiliation Links */
a.board-name:link {font-size:100%; color:#333333}
a.board-name:visited {font-size:100%; color:#333333}

a.board-org:link {font-size:75%; font-style:italic; color:#333333}
a.board-org:visited {font-size:75%; font-style:italic; color:#333333}

.pc-name{font-size:100%; color:#333333}
.pc-org{font-size:75%; font-style:italic; color:#333333}
.error {
    color: red;
}

/* Technical Program Table */
.table-program tbody>tr>td{
    vertical-align: top;
    text-align: left;
}


/* Workshop List Table */
.table-workshop tbody>tr>td{
    vertical-align: middle;
    text-align: left;
}

/* Registration Table */
.table-registration tbody>tr>td{
    vertical-align: middle;
}

/* Social Media Links */
a.social-media:link {color:#333333}
a.social-media:visited {color:#333333}
a.social-media:hover {color:#333333}
a.social-media:active {color:#333333}

/* Vertically Centered div */
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/* Offset needed to account for navbar */
.anchor {
    display:block;
    padding-top:100px;
    margin-top:-100px;
 }

 .dl-horizontal dt{
     font-weight: normal;
     text-align: left;
     margin-bottom: 0em;
     width: auto;
     padding-right: 0em;
     text-sty
 }

 .dl-horizontal dd{
     margin-left: 4em;
     margin-bottom: 0em;
 }
