<!--(bake includes/common_top.html)-->
<h3>Accommodations</h3> 
<br>
<p>
A number of area hotels are offering rooms to RSS attendees at discounted rates. Discounted rooms are limited and available on a first-come first-served basis. Please book online using the links below or use the group rate code "RSS2016" when booking over the phone. 
</p>
<p>
A map of the area with hotel locations is here: <a href = "https://www.google.com/maps/d/edit?mid=z2euSVqybz-I.k5n0bvS9DqYk&usp=sharing" style="font-size: 20px" target="_blank">MAP</a><br><br>
</p>

<!--<p>-->
<!--<iframe src="https://www.google.com/maps/d/u/0/embed?mid=z2euSVqybz-I.k5n0bvS9DqYk" width="640" height="240"></iframe>-->
<!--<br><br>-->
<!--</p>-->

<b>Student Housing</b><br>
<p>
Dormitory housing located at the University of Michigan is available for student attendees. This housing option is directly adjacent to the conference venue and walkable to downtown-area restaurants and shopping.
</p>

<ul>
<b>North Quad (UM Housing)</b><br>
105 S. State St.<br>
Ann Arbor, MI 48109<br>
(734) 764-5297<br>
$57.50 (single), $156.50 (suite - up to 4 occupants)<br>
Plus 10% university fee<br>
<a href = "http://www.housing.umich.edu/conferences/lodging/northquad" target="_blank">More Information</a><br>
<a href = "https://regstg.com/Registration/Introduction.aspx?rid=b39af7a8-4011-4238-90d5-02fcbe4a1e84" target="_blank">Book Now</a><br><br>
</ul>

<b>Downtown Hotels</b><br>
<p>
The following hotels are walkable to the conference venue and downtown-area restaurants and shopping.
</p>

<ul>
<b>Graduate Hotel</b><br>
615 East Huron St.<br>
Ann Arbor, MI 48104<br>
(734) 769-2200<br>
$184 (standard 1 king/2 queen), $240 (premium 1 king/2 queen)<br>
$10/each additional guest, max 4 per room<br>
<a href = "https://www.bookonthenet.net/east/premium/eresmain.aspx?id=8MmM7DxD57%2fGqTDh3dpW9EDoFnDFZ0EUFa78yed3W8o%3d&arrival_date=06/17/2016&stay_nights=3&promo_code=RSS061716#/rates" target="_blank">Book Now</a><br><br>

<b>Residence Inn-Downtown by Marriott</b><br>
120 W. Huron St.<br>
Ann Arbor, MI 48104<br>
(734) 662-9999<br>
$189 (king suite)<br>
<a href = "http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=UOM%20Engineering%5Earbdt%60COECOEA%60189.00%60USD%60false%604%606/17/16%606/24/16%605/17/16&app=resvlink&stop_mobi=yes" target="_blank">Book Now</a><br><br>

<b>Executive Residence</b><br>
Ross Learning & Conference Center<br>
710 E. University St.<br>
Ann Arbor, MI 48104<br>
(734) 764-7677<br>
$157 (1 queen)<br>
<a href = "http://bookings.ihotelier.com/bookings.jsp?groupID=1623539&hotelID=76008" target="_blank">Book Now</a><br><br>
</ul>

<b>Southern Ann Arbor Hotels</b><br>
<p>
A bus loop will be provided between the conference venue and the following hotels in southern Ann Arbor. Additionally, these hotels are accessible by <a href = "http://www.theride.org/Schedules-Maps-Tools#/dashboard/62" target="_blank">TheRide</a> bus Rt. 62 (<a href = "http://www.theride.org/Portals/0/Documents/1SchedulesMapsAndTools/RtMaps/Current/62.pdf" target="_blank">pdf</a>). These southern-area hotels are walkable to restaurants and shopping surrounding the <a href = "http://www.simon.com/mall/briarwood-mall" target="_blank">Briarwood Mall</a>.
</p>
<p>
Bus loop schedule - Workshop (June 18-19): 7:15AM - 2:15PM, 4:45PM - 9:15PM.<br>
Bus loop schedule - Conference (June 20-21): 7:15AM - 10:45AM, 4:45PM - 9:15PM.<br>
UPDATE: Bus loop schedule - Conference (June 22): 7:15AM - 10:45AM, 12:00PM - 2:00PM.<br>
</p>

<ul>
<b>Fairfield Inn by Marriott</b><br>
3285 Boardwalk Dr.<br>
Ann Arbor, MI 48108<br>
(734) 995-5200<br>
$104 (1 queen), $109 (1 king/2 double)<br>
<a href = "http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Robotics%20%26%20Science%202016%5Earbfi%60RUMRUMA%7CRUMRUMB%7CRUMRUMC%60104.00-109.00%60USD%60false%605%606/17/16%606/22/16%6005/16/2016&app=resvlink&stop_mobi=yes" target="_blank">Book Now</a><br><br>

<b>Hampton Inn</b><br> 
925 Victors Way<br>
Ann Arbor, MI 48108<br>
(734) 665-5000<br>
$119 (1 king/2 double)<br>
<a href = "https://secure3.hilton.com/en_US/hp/reservation/book.htm?inputModule=HOTEL&ctyhocn=ARBVWHX&spec_plan=CHHUMR&arrival=20160617&departure=20160623&cid=OM,WW,HILTONLINK,EN,DirectLink&fromId=HILTONLINKDIRECT" target="_blank">Book Now</a><br><br>

<b>Courtyard by Marriott</b><br>
3205 Boardwalk Dr.<br>
Ann Arbor, MI 48108<br>
(734) 995-5900<br>
$149 (king suite)<br>
<a href = "http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=College%20of%20Engineering%20Robotics%20Science%20and%20Systems%5Earbch%60uceucea%7Cuceucec%60149.00%60USD%60false%603%606/17/16%606/23/16%605/17/16&app=resvlink&stop_mobi=yes" target="_blank">Book Now</a><br><br>

<b>Holiday Inn Hotel & Suites</b><br>
3155 Boardwalk Dr.<br>
Ann Arbor, MI 48108<br>
(734) 647-7030<br>
$119 (2 double)<br>
<a href = "https://www.ihg.com/holidayinn/hotels/us/en/reservation/book?qAdlt=1&qChld=0&qCiD=17&qCiMy=052016&qCoD=23&qCoMy=052016&qDest=Ann+Arbor%2C+Michigan%2C+United+States&qGRM=0&qGrpCd=ROB&qHtlC=arbep&qPSt=0&qRRSrt=rt&qRef=df&qRms=1&qRpn=1&qRpp=12&qRtP=6CBARC&qSHp=1&qSlH=arbep&qSmP=3&qSrt=sDD&qWch=0&srb_u=1&method=redirect&modifySearch=bookhotel_arbep#roomratestitle" target="_blank">Book Now</a><br><br>

<!--<b>TownePlace Suites by Marriott</b><br>-->
<!--1301 Briarwood Circle<br>-->
<!--Ann Arbor, MI 48108<br>-->
<!--(734) 327-5900<br>-->
<!--$149 (2 Queen bed suite/King studio)<br>-->
<!--<a href = "http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Robotics%20Science%20and%20Systems%5Earbtp%60rssrssa%7Crssrssb%60149.00%60USD%60false%605%606/17/16%606/23/16%605/17/16&app=resvlink&stop_mobi=yes" target="_blank">Book Now</a><br><br>-->
</ul>

<!--(bake includes/common_bottom.html)-->
