<!--(bake includes/common_top.html)-->
<h3>RSS Advisory Board</h3>
<br>
<div class="container">
  <div class="row text-center">
    <div class="col-md-2 col-md-offset-1">
      <a href="http://www-clmc.usc.edu/~sschaal/" class="board-name">Stefan Schaal</a><br>
      <a href="http://www.usc.edu/" target="_blank" class="board-org">USC<br><br>

      <a href="http://sydney.edu.au/engineering/people/stefan.williams.php" target="_blank" class="board-name">Stefan Williams</a><br>
      <a href="http://sydney.edu.au/" target="_blank" class="board-org">University of Sidney<br><br>

      <a href="http://web.mit.edu/vkumar/www/" target="_blank" class="board-name">Vijay Kumar</a><br>
      <a href="http://web.mit.edu/" target="_blank" class="board-org"> University of Pennsylvania<br><br>

      <a href="http://www.informatik.uni-freiburg.de/~burgard/" target="_blank" class="board-name">Wolfram Burgard</a><br>
      <a href="http://www.uni-freiburg.de/" target="_blank" class="board-org">University of Freiburg</a><br><br>

      <a href="http://www.cim.mcgill.ca/~dudek/" target="_blank" class="board-name">Gregory Dudek</a><br>
      <a href="http://www.cim.mcgill.ca" target="_blank" class="board-org">McGill University<br><br>
    </div>
    <div class="col-md-2">
      <a href="http://robotics.stanford.edu/~ok/" target="_blank" class="board-name">Oussama Khatib</a><br>
      <a href="http://www.stanford.edu/" target="_blank" class="board-org">Stanford University</a><br><br>

      <a href="http://homes.cs.washington.edu/~fox/" target="_blank" class="board-name">Dieter Fox</a><br>
      <a href="http://www.washington.edu/" target="_blank" class="board-org">University of Washington</a><br><br>

      <a href="http://www.cs.cmu.edu/~mason/" target="_blank" class="board-name">Matt Mason</a><br>
      <a href="http://www.cmu.edu/" target="_blank" class="board-org">Carnegie Mellon University</a><br><br>

      <a href="http://people.csail.mit.edu/rus/" target="_blank" class="board-name">Daniela Rus</a><br>
      <a href="http://www.mit.edu/" target="_blank" class="board-org">MIT</a><br><br>

      <a href="http://people.csail.mit.edu/lpk/" target="_blank" class="board-name">Leslie Kaelbling</a><br>
      <a href="http://www.mit.edu/" target="_blank" class="board-org">MIT</a><br><br>
    </div>
  </div>
</div>


<!--(bake includes/common_bottom.html)-->
