<!--(bake includes/common_top.html)-->
<h3>Authors' Information</h3>

<b>Important Information</b><br><br>

<p><b>The RSS submission site is available at <br>
<a href="https://easychair.org/conferences/?conf=rss2016", target="_blank">https://easychair.org/conferences/?conf=rss2016</a></b></p>

<p>Reviewing for RSS 2016 will be double blind, so authors should not be listed on the title page and reasonable anonymity should be maintained in the paper. Authors are asked to take particular care when referencing their own work - careless use of self citations can easily violate the requirements for double blind reviewing and this will result in papers being rejected. Guidance on double blind submission is given below as is a policy statement on multiple submissions and plagiarism.</p>

<p>Full papers must be submitted by January 28, 2016, AoE (Anywhere on Earth: UTC -12)</p>
<p>Final paper notification will be made on April 22, 2016</p>
<p><b>Papers can be up to 8 pages + references.</b> This means that if more than 8 pages are used, the 9th page and any subsequent pages should contain ONLY references. The length requirement will be strictly enforced.</p>

<p>RSS will have a rebuttal phase. The authors will be given 4 days to respond to reviewers' comments. This will happen in the period between March 14 and March 21. Check the main web page of the conference for updates as we get closer to the above dates.</p>

<p>Conditional accepts will be used this year. Authors will be give 10-14 days to improve their paper. This will happen in the period between April 5 and April 19. Detailed information will be posted as we approach those dates.</p>

<p>The conference accepts only electronic submissions in PDF format.</p>

<p>Authors may suggest which Area Chair should handle their submission. Names of Area Chairs are listed <a href="orgcom.html">here</a>.</p>


<b>Paper Submission</b><br>
<ul>
    <li>Browse to <a href="https://easychair.org/conferences/?conf=rss2016", target="_blank">https://easychair.org/conferences/?conf=rss2016</a>

    <li>When logging in for the first time, if you have never used EasyChair, you will be guided through a registration process in which you enter contact details. When this is complete you will be able to log in. Navigate to the new submission form where you can choose to add a paper.

    <li>Enter title, abstract, and authors. Specify keywords, one per line, to characterize your submission.

    <li>Your paper may now be uploaded. Papers must be in the accepted conference style format and must be submitted as a PDF of no more than 20MB. Papers may be edited, updated and replaced up to the full paper final submission deadline. You may also upload supplementary material (50MB max) such as videos (accepted formats: avi, mov, mp4, mpg, pdf, tar.gz, tar, tgz, zip).

    <li>Answer if your first author is a student.

    <li>Use the text box to suggest which Area Chair should handle your submission. Names of Area Chairs are listed <a href="orgcom.html">here</a>. You may answer "any" to this question.

    <li>Identify conflicts for this paper. You will be able to mark conflicts (and type) with known potential reviewers for RSS. This helps us execute the double blind policy and ensure unbiased reviewing.

    <li>Click on <i>Submit</i>.

    <li>After clicking the <i>Submit</i> link, your paper will be assigned an ID.
</ul>
<b>Supplementary Material</b><br>
<p>Authors may submit supplementary material such as a video or an expanded version of a proof. However, note that reviewers are not required to view this material and include it in their assessment of the paper. Lastly, if authors feel they must link to additional supplementary material, they are cautioned to ensure that their identities are not revealed. Please note that the link to upload supplementary material becomes active only after the paper submission is complete.</p>

<b>Paper Format</b><br>
<p>Submissions may be up to 8 pages in length, including figures but possibly excluding references. Additional pages can be used for references. However, the 9th page, and any subsequent pages, can contain ONLY references. This will be strictly enforced. Submissions can use a font no smaller than 10 point. Submissions violating these guidelines will not be considered. A paper template is available in <a href="docs/paper-template-latex.tar.gz">Latex</a> and <a href="docs/paper-template-word.zip">Word</a>. Authors should take care not to reveal their identity in their papers since the reviewing is double-blind.

<p>Do not modify the formatting provided in the templates. Any change to font sizes, page dimensions, line spacing, etc. may delay the publication of your paper. Please do not include any additional markings such as Draft or To appear in... on the pages. Make sure your paper does not contain page numbers.
Authors are reminded that reviews are double blind and so submitted papers should not include authors names or affiliations on the title page. For further advice, see the section below 'Guidelines for Double Blind Submission'.

<p>Submissions must be limited to eight pages of text + references. Robotics: Science and Systems offers no provision for accommodating papers that do not meet these requirements.

<p>Submit a PDF-format paper. We do not accept papers submitted after the deadline no matter what the reason is, so please check on your ability to convert to PDF early. Delays in the production of proceedings are usually caused by PDF file submissions that do not embed all fonts. Please follow the below instructions to ensure that your PDF document will not suffer from this problem.

<p>When preparing your document in LateX, make sure to create the PDF file from your LateX source by use of these commands:
<ul>
    <kbd>latex paper.tex</kbd></br>
    <kbd>dvips paper.dvi -o paper.ps -t letter -Ppdf -G0</kbd></br>
    <kbd>ps2pdf paper.ps </kbd></br>
</ul>
The arguments provided to dvips will ensure that all fonts are embedded in the PDF file produced by <code>ps2pdf</code>.</p>

<p>Before submitting your PDF file, please open it in Acrobat Reader. In the File menu under Document Properties, you will find information on the fonts used by your document. The PDF file should only contain Type-1 fonts (and Embedded True Type fonts if prepared under Word). If you correctly followed the instructions above but your document contains other types of fonts, then these may have been included as part of your figures. Again, please ensure that your submission contains only Type-1 or Embedded True Type fonts and not Type-3 fonts.</p>

<b>Guidelines for Double Blind Submission</b><br>
<p>Double Blind reviewing requires that the paper reviewers should not know the names or affiliation of the paper authors. This is desirable to remove any possible or perceived bias toward a paper on non technical grounds. However, in practice this is difficult to achieve in full as descriptions of background material or experiments, which are essential to the technical content of the paper, often give a clear indication to knowledgeable reviewers of the likely source of the paper. RSS 2016 will try to adopt a pragmatic approach to double blind reviewing in which authors are encouraged to hide identity without unduly affecting the quality or import of their submission.</p>

<p>The following general principles should be applied in submissions:
<ul>
    <li>Authors names and affiliations should not be cited in the title or text of the submission.
    <li>Acknowledgments to people or funding agencies should not appear in the submission.
    <li>Citing of web links to the authors or author's institute should be avoided.
</ul>

<p>In self citing authors previous work, avoid expressions such as <i>"In the authors earlier work..."</i>, rather use alternative expressions such as <i>"In previous work..."</i> or <i>"In related work..."</i>, in a manner that does not distinguish their own work from the work of others. Authors should otherwise cite work, including their own, as required for the completeness of the submission.</p>

<p>In presentation of experimental work, avoid logos in pictures, or overt references to an individual laboratory. Use expressions such as <i>"The experimental equipment..."</i> rather than <i>"The University of XYZ's Robby the Robot..."</i>. Otherwise authors should include photographs, graphics and other presentation material as in the normal manner for a paper submission.</p>

<p>In general authors should avoid obviously attributable self-references while ensuring that the paper is complete, makes appropriate citations of related work and fully describes the contributions made.</p>

<b>Review Criteria</b><br>
<p>RSS encourages submissions from areas that have been underrepresented in previous years. It is recognized that not every paper will necessarily contain new theoretical results or new algorithms. RSS strongly encourages the submission of work that provides new models and analyses that are rigorously validated via experimentation. RSS will make every effort to fairly review papers that discuss systems.</p>

<p>An Open Letter to the Community has been posted <a href="http://www.roboticsfoundation.org/index.php/open-letters/open-letter-november-2013" target="_blank">here</a> by the RSS Foundation.</p>

<p>Submissions will be refereed on the basis of technical quality, novelty, significance, and clarity. Each submission will be thoroughly reviewed by at least three program committee members. The review form for RSS 2016 can be found <a href="docs/RSS2016ReviewForm.pdf" target="_blank">here</a>. There will be a short rebuttal period. The rebuttal form for RSS 2016 is <a href="docs/RSS2016RebuttalForm.pdf" target="_blank">here</a>. Submissions, reviews, and rebuttals will then be discussed at an in-person area chair committee meeting. Authors of conditionally accepted papers will be asked to revise their papers. Authors of finally accepted manuscripts will be asked to submit final revisions for presentation at the conference.</p>

<b>Policy on Multiple Submissions</b><br>
<p>Submissions that are identical (or substantially similar) to versions that have been previously published, or accepted for publication, or that have been submitted in parallel to other conferences are not appropriate for RSS and violate our dual submission policy.</p>

<p>Exceptions to this rule are the following:
<ol>
    <li>Submission is permitted of a short version of a paper that has been submitted to a journal, but has not yet been published in that journal. Authors must declare such dual-submissions either through the paper upload submission form, or via email to the program chair. It is the authors' responsibility to make sure that the journal in question allows dual concurrent submissions to conferences.
    <li>Submission is permitted for papers presented or to be presented at conferences or workshops without proceedings, or with only abstracts published.
    <li>It is acceptable to submit to RSS work that has been made available as a technical report (or similar, e.g. in arXiv) without citing it.
</ol>
None of the above should be construed as overriding the requirements of other publishing venues. In addition, keep in mind that author anonymity to RSS reviewers might be compromised for authors availing themselves of exceptions 2 and 3.</p>

<b>Plagiarism</b><br>
<p>RSS is utterly intolerant of plagiarism. Submitted papers are expected to contain original work executed by the authors with adequate, proper and scholarly citations to the work of others. It is the job of the authors to clearly identify both their own contribution(s) and also published results / techniques on which they depend or build. RSS reviewers are charged to ensure these standards are met. In cases of alleged plagiarism, the program chair will be guided by Section 8.2.4 Allegations of Misconduct as laid out by the IEEE in this <a href="docs/opsmanual.pdf" target="_blank">document</a>.</p>

<b>Instructions for Accepted Papers</b><br>
<p>A revised version of your paper is due to be uploaded to EasyChair by a date TBD, under the "Camera Ready" section of the Author pane in EasyChair. EasyChair designates your paper as "Camera Ready" and it will be available online as part of the conference proceedings. Please note that there will not be an additional opportunity to revise your paper. In preparing for the proceedings, please follow the author guidelines posted above under "Paper Format." In particular, if more than 8 pages are used for a paper, the 9th page and any subsequent pages can contain ONLY references. There is no provision for supplementary materials in the proceedings. Your proceedings submission should, of course, include your names and affiliations as we are past the double-blind review phase. The publications chair will contact you with preparation guidelines for the final conference proceedings.</p>

<p>All papers will have both an oral presentation and an electronic poster. You will be notified shortly after the final acceptance deadline of the style of presentation for your paper.</p>

<b>Final submission of accepted papers </b><br>
<p>The conference proceedings for Robotics: Science and Systems 2016 will be published online.</p>

<p>The final version and all other information necessary for its publication will be due TBD. Please read the instructions below carefully to avoid delaying the publication of the proceeding.</p>

<p>Submit your final manuscript at <a href="https://easychair.org/conferences/?conf=rss2016", target="_blank">https://easychair.org/conferences/?conf=rss2016</a>.</p>

<p>Author Agreement Form: One author must complete and sign the author agreement <a href="docs/author_agreement.pdf", target="_blank">form</a>. Please send a scanned copy of your completed and signed form to <a href="mailto:rss2016@easychair.org">rss2016@easychair.org</a> with email subject "RSS author agreement form paper no. xxx". Alternatively you may mail the original, signed author agreement form to the following address:
<ul>
  Sam Rodriguez and/or Shawna Thomas<br>
  301 Harvey R. Bright Bldg, 3112 TAMU<br>
  College Station, TX 77843-3112<br>
  USA<br>
</ul>
</p>
<br>
<br>
<!--(bake includes/common_bottom.html)-->
