<!--(bake includes/common_top.html)-->
<h3>Awards</h3>
<br>
The following awards were presented at RSS 2016:<br>
<ul>
    <li><a href="#studentpaper">Best Student Paper Award</a><br>
    <li><a href="#systemspaper">Best Systems Paper Award in Memory of Seth Teller</a><br>
    <li><a href="#bestpaper">Best Paper Award</a><br>
</ul>

<h3><a id="studentpaper" class="anchor"></a>Best Student Paper Award</h3>
<p><i>Sponsored by <a href="http://www.springer.com/gp/" target="_blank">Springer</a>.</i></p>

<p>This award is given the the best paper of the conference whose first author is a student. The winner is selected from a group of finalists by an awards committee.</p>
<b>Winner:</b><br>
<i><a href="http://www.roboticsproceedings.org/rss12/p19.html" target="_blank">Coordinated multi-arm motion planning: Reaching for moving objects in the face of uncertainty</a></i><br>
Seyed Sina Mirrazavi Salehian, Nadia Figueroa and Aude Billard
<br><br>
<img src="img/beststudentpaper.jpg" class="img-rounded" alt="Best Student Paper" style="width: 100%;">
<br><br>
<b>Finalists:</b><br>
<a href="http://www.roboticsproceedings.org/rss12/p14.html" target="_blank"><i>Probabilistic Approaches to the </i>AXB = YCZ<i> Calibration Problem in
Multi-Robot Systems</i></a><br>
Qianli Ma, Zachariah Goh and Gregory S. Chirikjian<br>
<br>
<i><a href="http://www.roboticsproceedings.org/rss12/p25.html" target="_blank">An End-To-End System for Accomplishing Tasks with Modular Robots</a></i><br>
Gangyuan Jing, Tarik Tosun, Mark Yim and Hadas Kress-Gazit
<br><br>
<i><a href="http://www.roboticsproceedings.org/rss12/p35.html" target="_blank">Integrated force and distance sensing using elastomer-embedded commodity proximity sensors</a></i><br>
Radhen Patel and Nikolaus Correll
<br><br>

<h3><a id="systemspaper" class="anchor"></a>Best Systems Paper Award<br>in Memory of Seth Teller</h3>
<p>
This award is given to outstanding systems papers presented at the RSS conference.  The winner is selected by an awards committee. The awards committee determines each year if a paper of sufficient quality is among the accepted papers and may decide not to give the award. In years when no award is given, the list of finalists considered by the awards committee will not be disclosed. This award was given for the first time in 2015. (<a href="http://www.roboticsfoundation.org/index.php/awards?id=15" target="_blank">more information</a>).</p>
<p>
<b>Winners:</b><br>
<i><a href="http://www.roboticsproceedings.org/rss12/p25.html" target="_blank">An End-To-End System for Accomplishing Tasks with Modular Robots</a></i><br>
Gangyuan Jing, Tarik Tosun, Mark Yim and Hadas Kress-Gazit
<br><br>
<img src="img/bestsystemspaper1.jpg" class="img-rounded" alt="Best Systems Paper 1" style="width: 100%;">
<br><br>
<i><a href="http://www.roboticsproceedings.org/rss12/p36.html" target="_blank">Lessons from the Amazon Picking Challenge: Four Aspects of Building Robotic Systems</a></i><br>
Clemens Eppner, Sebastian H&oumlfer, Rico Jonschkowski, Roberto Mart&iacuten-Mart&iacuten, Arne Sieverling, Vincent Wall and Oliver Brock
<br><br>
<img src="img/bestsystemspaper2.jpg" class="img-rounded" alt="Best Systems Paper 2" style="width: 100%;">
<br><br>

<b>Finalists:</b><br>
<i><a href="http://www.roboticsproceedings.org/rss12/p19.html" target="_blank">Coordinated multi-arm motion planning: Reaching for moving objects in the face of uncertainty</a></i><br>
Seyed Sina Mirrazavi Salehian, Nadia Figueroa and Aude Billard
<br><br>
<i><a href="http://www.roboticsproceedings.org/rss12/p44.html" target="_blank">Street-View Change Detection with Deconvolutional Networks</a></i><br>
Pablo F. Alcantarilla, Simon Stent, German Ros, Roberto Arroyo and Riccardo Gherardi

<br><br>
<h3><a id="bestpaper" class="anchor"></a>Best Paper Award</h3>
<p><i>Sponsored by <a href="http://www.springer.com/gp/" target="_blank">Springer</a>.</i></p>
<p>
This award is given the the best paper of the conference.  The winner is selected from a group of finalists by an awards committee.
</p>
<b>Winner:</b><br>
<i><a href="http://www.roboticsproceedings.org/rss12/p37.html" target="_blank">Efficient Grounding of Abstract Spatial Concepts for Natural Language Interaction with Robot Manipulators</a></i><br>
Rohan Paul, Jacob Arkin, Nicholas Roy and Thomas M. Howard
<br><br>
<img src="img/bestpaper.jpg" class="img-rounded" alt="Best Paper" style="width: 100%;">
<br><br>

<b>Finalists:</b><br>
<a href="http://www.roboticsproceedings.org/rss12/p14.html" target="_blank"><i>Probabilistic Approaches to the </i>AXB = YCZ<i> Calibration Problem in
Multi-Robot Systems</i></a><br>
Qianli Ma, Zachariah Goh and Gregory S. Chirikjian
<br><br>
<i><a href="http://www.roboticsproceedings.org/rss12/p19.html" target="_blank">Coordinated multi-arm motion planning: Reaching for moving objects in the face of uncertainty</a></i><br>
Seyed Sina Mirrazavi Salehian, Nadia Figueroa and Aude Billard
<br><br>
<i><a href="http://www.roboticsproceedings.org/rss12/p25.html" target="_blank">An End-To-End System for Accomplishing Tasks with Modular Robots</a></i><br>
Gangyuan Jing, Tarik Tosun, Mark Yim and Hadas Kress-Gazit
<br><br>
<i><a href="http://www.roboticsproceedings.org/rss12/p35.html" target="_blank">Integrated force and distance sensing using elastomer-embedded commodity proximity sensors</a></i><br>
Radhen Patel and Nikolaus Correll
<br><br>
<i><a href="http://www.roboticsproceedings.org/rss12/p43.html" target="_blank">Robust Multimodal Sequence-Based Loop Closure Detection via Structured Sparsity</a></i><br>
Hao Zhang, Fei Han and Hua Wang

<br><br>

<!--(bake includes/common_bottom.html)-->
