<!--(bake includes/common_top.html)-->
<h3>Call for papers</h3>
<p>
The 2016 Robotics: Science and Systems Conference will bring together
researchers working on algorithmic and mathematical foundations of
robotics, robotics applications, and analysis of robotic systems.
The conference will be held June 18-22, 2016 at the University of
Michigan in Ann Arbor, Michigan, USA.
</p>
<p>
To give attendees an opportunity to see the best research in all areas
of robotics, the conference will be single-track and the program will
include invited talks as well as oral and interactive presentations of
refereed papers.  The three-day main session will be preceded by two
days of workshops and tutorials.  Following RSS tradition, every effort
is being made to keep conference expenses affordable, particularly for
student attendees.  Workshop-only registration will be available.
</p>

<h3>Important Dates:</h3>
<b>Papers:</b>
<ul>
<li>Final Submission Deadline: <i>January 28, 2016 AoE (Anywhere on Earth: UTC -12)</i></li>
<li>Rebuttal Period: <i>March 14-21, 2016</i><br></li>
<li>Acceptance Notification: <i>April 22, 2016</i></li>
<li>RSS 2016 Conference: <i>June 20-22, 2016</i></li>
</ul>
</br>
<b>Workshops:</b>
<ul>
<li>Final Submission Deadline: <i>January 14, 2016 AoE (Anywhere on Earth: UTC -12)</i></li>
<li>Acceptance Notification: <i>February 18, 2016</i></li>
<li>RSS 2016 Workshops:  <i>June 18-19, 2016</i><br></li>
</ul>

<h3>Contributed Papers</h3>
<p>RSS will stay true to its name covering both the "Science" and the "Systems"
of robotics and is actively seeking submissions in areas that have not been
traditionally represented at the conference. </p>

<p>Papers containing original and unpublished work are solicited in all areas
of robotics, including (but not limited to) the following:</p>
<ul class="text-left">
<li><u>Biological Robotics:</u> Biomimetic Robotics, Robotic Investigation of Biological Science
    and Systems, Neurobotics, Prosthetics, Robotics and Molecular Biology

<li><u>Control, Dynamics and Kinematics:</u> Dexterous Manipulation, Locomotion,
    Nonlinear Control, Visual Servoing

<li><u>Estimation and Learning for Robotic Systems:</u> Reinforcement Learning, Bayesian
    Techniques, Graphical Models, Imitation Learning, Programming by Demonstration, Diagnostics

<li><u>Field Robotics:</u> Underwater Robotics, Aerial/Space Robotics, Agricultural and Mining
    Robotics

<li><u>Distributed Systems:</u> Multi-Robot Systems, Networked Robots, Robot Soccer,
    Entertainment Robotics

<li><u>Human-Robot Interaction and Human Centered Systems:</u> Brain-Machine Interfaces,
    Haptics, Tactile Interfaces, Telerobotics, Human Augmentation, Assistive Robots,
    Social Robots, Safe Interaction, Robots and Art

<li><u>Manipulation:</u> Contact Modeling, Grasp Synthesis, Assembly, Force Control,
    Manipulation Planning

<li><u>Mechanisms and Micro/Nano Robotics:</u> Design, Humanoids, Hands, Legged Systems, Snakes,
     Novel Actuators, Reconfigurable Robots, MEMS/NEMS, Micro/Nanobots

<li><u>Medical Robotics:</u> Robot-Assisted Procedures, Smart Surgical Tools, Rehabilitation
    Robotics, Interventional Therapy, Image-Guided Procedures, Surgical Simulation,
    Soft-Tissue Modeling, Telesurgery

<li><u>Mobile Systems and Mobility:</u> Mapping, Localization, Navigation, SLAM, Collision
    Avoidance, Exploration

<li><u>Planning and Algorithms:</u> Motion Planning, Task Planning, Coordination,
    Complexity and Completeness, Computational Geometry, Simulation

<li><u>Robot Perception:</u> Vision, Tactile and Force Perception, Range Sensing, Inertial and
    propreoceptive sensing, Sensor Fusion
</ul>

<h3>Paper Format and Submission Information</h3>
<p>
Submissions may be up to 8 pages in length, excluding references. Reviewing for RSS 2016 is double-blind, so authors should not be listed on the title page, and reasonable anonymity should be maintained in the paper.  Submissions that are identical (or substantially similar) to versions that have been previously published, or accepted for publication, or that have been submitted in parallel to other conferences are not appropriate for RSS and violate our dual submission policy; exceptions to this rule are detailed on the author instructions page on the RSS 2016 website.
</p>
<p>
Submissions will be evaluated in terms of their technical quality, novelty,
significance, potential impact, and clarity.  All papers accepted for
presentation at the main conference will be published in online proceedings.
Selected papers will be invited for submission to a special issue of
International Journal of Robotics Research and a special issue of Autonomous
Robots.
</p>
<p>
RSS 2016 will have a rebuttal phase. The authors will be given 4 days to respond
to reviewers' comments. This will happen in the period between March 10 and
March 15. Check the main web page of the conference for updates as we get
closer to the dates.
</p>
<p>
Conditional accepts will be used again this year. Authors will be given
10-14 days to improve their paper. This will happen in the period between
April 5 and April 19. Authors will be provided with detailed information if
this affects their paper.
</p>
<p>
More details regarding paper preparation, submission and the reviewing
process are available on the <a href="authorinfo.html">author instructions</a>.
</p>
<br/><br/>
<!--(bake includes/common_bottom.html)-->
