<!--(bake includes/common_top.html)-->
<h3>Call for workshops</h3>
<br>
<b>Important Dates:</b><br>
<ul>
  <li>Submission Deadline: <i>January 14, 2016</i></li>
  <li>Acceptance Notification: <i>February 18, 2016</i></li>
  <li>RSS 2015 Workshops: <i>June 18 and 19, 2016</i></li>
</ul>
<b>Description</b><br>
<p>The Organizing Committee for the 2016 Robotics: Science and Systems Conference (RSS 2016) requests proposals for full and half-day workshops, tutorials, competitions, and demonstrations to be held on June 18-19, 2016 at the University of Michigan, Ann Arbor, MI, USA. This year these events will take place during a weekend before the main conference. RSS brings together researchers working on algorithmic or mathematical foundations of robotics, robotics applications, and the analysis of robotic systems. However, proposals from relevant communities that have not traditionally participated at RSS and that bridge research subtopics are welcomed from  as well as innovative ideas on structuring the events in a way that will promote discussion among the participants. Prior workshops have consistently provided high-quality, topically-focused forums for researchers at the forefront of robotics.
</p>
<b>Submissions</b><br>
<p>Prospective organizers should submit their proposals by January 14, 2016 through the <a href="https://easychair.org/conferences/?conf=rss2016workshops", target="_blank">proposal submission website</a>.
</p>
<p>A template for the proposal is available <a href="workshopTemplate.html">here</a> and in Word format <a href="docs/RSS2016WorkshopProposalTemplate.docx">here</a>. The proposal submission is to describe the type of the event and provide a title, list of organizers, a tentative URL, an abstract, a tentative list of presenters, the intended structure of the event, plan for soliciting participation, intended audience and expected equipment requirements. We expect proposals to be approximately 2-3 pages in length.
</p>
<p>Proposals from relevant communities that have not traditionally participated at RSS that incorporate innovative ideas and will promote discussions will be given priority.
</p>

<b>Organizer Responsibilities for Accepted Proposals</b><br>
<ul>
  <li>Setting up a website that will be linked to the RSS 2016 website.</li>
  <li>Keeping the webpage up-to-date, in particular after conference registration has opened.</li>
  <li>Publicizing the workshop and soliciting position papers from potential participants.</li>
  <li>Selecting workshop participants based on the quality of their position papers, which outline the submitters' views on the workshop topic and the reasons for submitters' interest.</li>
  <li>Running the workshop at the conference.</li>
  <li>Optionally, compiling proceedings.</li>
</ul>
<p>Organizers are encouraged to communicate early on with the RSS workshop co-chairs (email: <a href="mailto:rss2016workshops@easychair.org">rss2016workshops@easychair.org</a>) regarding the topic of their intended workshop so that significant overlaps between events can be minimized.</p>

<p>All decisions will be made and the proposers will be notified by February 18, 2016.</p>

<p>We are looking forward to seeing you in Ann Arbor!</p>
<br>
<!--(bake includes/common_bottom.html)-->
