<!--(bake includes/common_top.html)-->
<h3>Early Career Spotlight</h3>
<br>
<div>
    <div class="col-s-4 vcenter">
        <img src="img/kim.jpg" width="150">
    </div>
    <div class="col-s-8 vcenter">
        <h4>
            <b><a href="http://meche.mit.edu/people/faculty/sangbae@mit.edu" target="_blank">Sangbae Kim</a></b><br>
            <i>MIT</i><br>
        </h4>
    </div>
</div>
<br>
<p><b>Time:</b> Monday June 20, 16:00 - 16:30</p>
<p><b>Location:</b> Rackham Auditorium</p>

<p><b>Title:</b> MIT Cheetah: new design paradigm shift toward mobile robots</p>

<p><b>Abstract:</b> Recent technological advances in legged robots are opening up a new era of mobile robotics. In particular, legged robots have a great potential to help disaster situations or elderly care services. Whereas manufacturing robots are designed for maximum stiffness, allowing for accurate and rapid position tracking without contact, mobile robots have a different set of hardware/software design requirements including dynamic physical interactions with environments.  Events such as the Fukushima power plant explosion highlight the need for robots that can traverse various terrains and perform dynamic physical tasks in unpredictable environments, where robots need to possess compliance that allows for impact mitigation as well as high force capability.  The talk will discuss the new mobile robot design paradigm focusing on the actuator characteristics and the impulse planning algorithms. As a successful embodiment of such paradigm, the talk will introduce the constituent technologies of the MIT Cheetah. Currently, the MIT cheetah is capable of running up to 13mph with an efficiency rivaling animals and capable of jumping over an 18-inch-high obstacle autonomously.</p>

<p><b>Biography:</b> Prof. Sangbae Kim, is the director of the Biomimetic Robotics Laboratory and an Associate Professor of Mechanical Engineering at MIT. His research focuses on the bio-inspired robotic platform design by extracting principles from complex biological systems. Kim's achievements on bio-inspired robot development include the world's first directional adhesive inspired from gecko lizards, and a climbing robot, Stickybot, that utilizes the directional adhesives to climb smooth surfaces featured in TIME's best inventions in 2006. The MIT Cheetah achieves stable outdoor running at an efficiency of animals, employing biomechanical principles from studies of best runners in nature. This achievement was covered by more than 200 articles. He is a recipient of King-Sun Fu Memorial Best Transactions on Robotics Paper Award (2008), DARPA YFA(2013), and NSF CAREER (2014) award.<p>
<br><br>
<!--(bake includes/common_bottom.html)-->
