<!--(bake includes/common_top.html)-->
<h3>RSS Foundation Board</h3>
<br>
<div class="container">
  <div class="row text-center">
    <div class="col-md-6">
      <b>President</b><br>
      <a href="http://www.robotics.tu-berlin.de/menue/team/oliver_brock/" class="board-name">Oliver Brock</a><br>
      <a href="http://www.tu-berlin.de/" target="_blank" class="board-org">Technical University of Berlin</a><br><br>
      <b>Directors</b><br>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-2 col-md-offset-1">
      <a href="https://parasol.tamu.edu/~amato/" class="board-name">Nancy Amato</a><br>
      <a href="http://www.tamu.edu/" target="_blank" class="board-org">Texas A&M University</a><br><br>

      <a href="http://www.cs.rice.edu/~kavraki/" target="_blank" class="board-name">Lydia Kavraki</a><br>
      <a href="http://www.rice.edu/" target="_blank" class="board-org">Rice University</a><br><br>

      <a href="http://www.comp.nus.edu.sg/~dyhsu/" target="_blank" class="board-name">David Hsu</a><br>
      <a href="http://www.comp.nus.edu.sg/" target="_blank" class="board-org">National University of Singapore</a><br><br>
    </div>
    <div class="col-md-2">
      <a href="http://www-robotics.usc.edu/~gaurav/" target="_blank" class="board-name">Gaurav Sukhatme</a><br>
      <a href="http://www.usc.edu/" target="_blank" class="board-org">USC</a><br><br>

      <a href="http://www.robots.ox.ac.uk/~pnewman/pmw/pmwiki/pmwiki.php" target="_blank" class="board-name">Paul Newman</a><br>
      <a href="http://www.ox.ac.uk/" target="_blank" class="board-org">University of Oxford</a><br><br>

      <a href="http://www.cs.rpi.edu/~trink/" target="_blank" class="board-name">Jeff Trinkle</a><br>
      <a href="http://www.rpi.edu/" target="_blank" class="board-org">Rensselaer Polytechnic Institute</a><br><br>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-6">
      <b>Treasurer</b><br>
      <a href="http://robots.stanford.edu/" class="board-name">Sebastian Thrun</a><br>
      <a href="http://www.stanford.edu/" target="_blank" class="board-org">Stanford University</a><br><br>

      <b>Secretary</b><br>
      <a href="http://www.csail.mit.edu/user/902" class="board-name">Nicholas Roy</a><br>
      <a href="http://www.mit.edu/" target="_blank" class="board-org">MIT</a><br><br>
    </div>
  </div>
</div>


<!--(bake includes/common_bottom.html)-->
