<!--(bake includes/common_top.html)-->
<h3> 2016 Robotics: Science and Systems Conference </h3>
<p>
The 2016 Robotics: Science and Systems Conference will bring together researchers working on algorithmic or mathematical foundations of robotics, robotics applications, and analysis of robotic systems. High quality, original papers are solicited in all areas of robotics. The final program will be the result of a highly selective review process designed to include the best work of its kind in every category. The conference will be single track to allow attendees an opportunity to experience the best research in all areas of robotics. The program will include invited talks as well as oral and poster presentations of refereed papers.</p>

<h3> RSS 2017: </h3>
<p>Information for the 2017 RSS conference is as follows:</p>
<p>
<b>Dates:</b><br>
July 12-14 (Main Conference), July 15-16 (Workshops), 2017<br>
<b>Location:</b><br>
Kresge Auditorium, Massachusetts Institute of Technology, Cambridge MA, USA
</p>

<h3> Conference Location: </h3>
<p>
The conference will be held at <a href="http://www.music.umich.edu/about/facilities/central_campus/rackham/index.htm" target="_blank">Rackham Auditorium</a> at the <a href="http://www.umich.edu" target="_blank">University of Michigan</a> in Ann Arbor, Michigan, USA. </p>

<h3>Recent News: </h3>
<p>
<font color="7a121c"><b>August 12, 2016:</font></b> Session and Keynote videos for Monday-Wednesday have been posted to the <a href="technicalprogram.html">Technical Program</a>.<br>
June 24, 2016: The <a href="awards.html">award winners</a> have been posted, along with photos!<br>
June 22, 2016: Hotel bus loop will be running from 7:15AM-10:45AM and 12PM-2PM on Wednesday, June 22.<br>
June 17, 2016: You can now download the <a href="docs/rss2016.zip">Conference Archive (212MB)</a>, containing all papers from the conference as well as the conference guide and quick reference sheet.<br>
June 2, 2016: <a href="http://www.roboticsproceedings.org/rss12/" target="_blank">The proceedings</a> for RSS 2016 are online!<br>
May 25, 2016: <a href="presentationinstructions.html">Presenter Instructions</a> have been posted.<br>
May 18, 2016: The <a href="technicalprogram.html">Technical Program</a> has been posted.<br>
May 10, 2016: Early Registration Deadline Extended to May 17.<br>
April 12, 2016: <a href="registration.html">Conference Registration</a> is now available!<br>
April 12, 2016: <a href="accommodations.html">Hotel Information</a> has been posted. </p>


<h3> Important Dates: </h3>
<p>
<b>Papers</b><br>
Final Paper Submission: <i><strike>January 28, 2016</strike></i><br>
Rebuttal Period: <i><strike>March 14-21, 2016</i></strike><br>
Paper Acceptance Notification: <i><strike>April 22, 2016</strike></i><br>
RSS 2016 Conference: <i>June 20-22, 2016</i><br>
<br>
<b>Workshops</b><br>
Workshop Proposal Submission: <i><strike>January 14, 2016</strike></i><br>
Workshop Acceptance Notification: <i><strike>February 18, 2016</strike></i><br>
RSS 2016 Workshops: <i>June 18-19, 2016</i><br>
<br>
<b>Registration</b><br>
Early Registration Deadline: <i><strike>May 17, 2016</strike></i><br>
Regular Registration Deadline: <i><strike>June 10, 2016</strike></i><br>
Late Registration: <i>June 11, 2016 - June 17, 2016</i><br>
On-site Registration: <i>June 18, 2016 - June 22, 2016</i><br>
</p>

<br>
The website of the 2015 RSS conference can be found here: <a href="http://www.dis.uniroma1.it/~rss2015/" target="_blank">RSS 2015</a>

<div class="row text-center">
    <br>
    <a href="https://www.facebook.com/RSSConf-1643658352563338" target="_blank" class="social-media"><i class="fa fa-facebook-square fa-2x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://twitter.com/RSSConf" target="_blank" class="social-media"><i class="fa fa-twitter fa-2x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://plus.google.com/108030763009933790559" target="_blank" class="social-media"><i class="fa fa-google-plus-square fa-2x"></i></a>
    <br><br>
</div>
<br><br>

<!--(bake includes/common_bottom.html)-->
