<!--(bake includes/common_top.html)-->
<h3>Invited Talks</h3>
<br>
<div class="row">
  <div class="col-xs-7">
      <b><a href="http://jacobs.berkeley.edu" target="_blank">Lucia F. Jacobs</a></b><br>
      <i>University of California, Berkeley</i><br>
      <b>Time:</b> Monday June 20, 11:00 - 12:00<br>
      <b>Location:</b> Rackham Auditorium<br>
      <br>
      <h4><center>
          <a href="jacobs-talk.html">Disruptive innovation in nature:<br> how the invention of the vertebrate nose led to the reengineering of sensory and navigation systems.</a><br>


      </center></h4>
  </div>
  <div class="col-xs-5">
    <img src="img/jacobs.jpg" width="200">
  </div>
</div>
<br>
<hr>
<br>
<div class="row">
  <div class="col-xs-7">
      <b><a href="http://site.humatics.com/humaticsteam/" target="_blank">David A. Mindell</a></b><br>
      <i>MIT</i><br>
      <b>Time:</b> Tuesday June 21, 11:00 - 12:00<br>
      <b>Location:</b> Rackham Auditorium<br>
      <br>
      <h4><center>
          <a href="mindell-talk.html">Our Robots, Ourselves: Toward Situated Autonomy</a><br>
      </center></h4>
  </div>
  <div class="col-xs-5">
    <img src="img/mindell.jpg" width="200">
  </div>
</div>
<br>
<hr>
<br>
<div class="row">
  <div class="col-xs-7">
      <b><a href="http://www.eecs.harvard.edu/~rad/" target="_blank">Radhika Nagpal</a></b><br>
      <i>Harvard University</i><br>
      <b>Time:</b> Wednesday June 22, 09:00 - 10:00<br>
      <b>Location:</b> Rackham Auditorium<br>
      <br>
      <h4><center>
          <a href="nagpal-talk.html">Collective "Artificial" Intelligence</a><br>
      </center></h4>
  </div>
  <div class="col-xs-5">
    <img src="img/nagpal.jpg" width="200">
  </div>
</div>
<br><br>

<!--(bake includes/common_bottom.html)-->
