<!--(bake includes/common_top.html)-->
<h3>Invited Talks</h3>
<br>
<div>
    <div class="col-s-4 vcenter">
        <img src="img/jacobs.jpg" width="200">
    </div>
    <div class="col-s-8 vcenter">
        <h4>
            <b><a href="http://jacobs.berkeley.edu" target="_blank">Lucia F. Jacobs</a></b><br>
            <i>University of California, Berkeley</i><br>
        </h4>
    </div>
</div>
<br>
<p><b>Time:</b> Monday June 20, 11:00 - 12:00</p>
<p><b>Location:</b> Rackham Auditorium</p>

<p><b>Title:</b> Disruptive innovation in nature: how the invention of the vertebrate nose led to the reengineering of sensory and navigation systems.</p>

<p><b>Abstract:</b> Innovation also disrupts biological systems. I will describe how the evolution of the nose
upended the course of sensory and motor evolution in vertebrates. There are two major
olfactory systems in vertebrates, the ancestral main olfactory system and the more recent
vomeronasal system. They differ dramatically in distribution: the main system is almost
universally present while the vomeronasal system, robust in most mammals, lizards and
snakes, is lost in many taxa such as birds and Old World apes, such as ourselves. I
propose the vomeronasal evolved to complement the spatial navigation function of the
main olfactory system. I will discuss how the vomeronasal system evolved secondarily to
map stimuli across time, thus complementing the main olfactory system's role in
mapping stimuli across space. This division of labor arose when the evolution of the nose
introduced a novel conflict between respiration and olfaction. I then describe how this
conflict led to widespread innovations in motor and sensory evolution in vertebrates.</p>

<p><b>Biography:</b> Professor Jacobs heads the Cognitive Biology Lab in the Department of Psychology and
the Helen Wills Institute of Neuroscience at the University of California, Berkeley. After
training in animal behavior (1978 B.S., Cornell), ecology and evolutionary biology (1987
Ph.D., Princeton) and postdoctoral fellowships in neuroscience (Universities of Toronto,
Pittsburgh and Utah), she joined the Berkeley faculty in 1993. Her group focuses on the
where to eat, how to navigate and map new terrains and how generally to integrate
diverse sources of information to make adaptive decisions in uncertain environments.
Animal species include humans, search dogs and rodents (domestic and wild). Her
theoretical work on navigation focuses on the evolution of limbic structures
(hippocampus, olfactory systems) and their integrated role in spatial navigation. She is
the recipient of a NSF CAREER award, Hellman Junior Faculty Award, Prytanean
Faculty Award, Mary Rennie Epilepsy Award and a 2015 NSF Ideas Lab Collaborative
Grant for olfactory navigation. She has published over 50 papers in the fields of animal
behavior, animal cognition, behavioral neuroscience and brain and behavioral evolution.<p>
<br><br><br><br><br>
<!--(bake includes/common_bottom.html)-->
