<!--(bake includes/common_top.html)-->
<h3>Location Information</h3>
<br>
<p>
The conference is located in <a href = "http://www.visitannarbor.org/" target="_blank">Ann Arbor</a>, Michigan.
</p>

</p>
Ann Arbor is a short drive, shuttle ride, or <a href = "http://www.myairride.com/" target="_blank">bus trip</a> away from the <a href = "http://www.metroairport.com/" target="_blank">Detroit Metropolitan Airport</a>, and is also easily accessible by car or  <a href = "http://mitrain.com/wolverine/" target="_blank">train</a>.</p>

<p><b>For detailed information about airport shuttles, taxis, limos, and train and bus transportation options, click <a href="https://www.visitannarbor.org/about/transportation" target="_blank">here</a>.</p>

<p>
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=z2euSVqybz-I.k5n0bvS9DqYk" width="640" height="480"></iframe>
</p>

<!--(bake includes/common_bottom.html)-->
