<!--(bake includes/common_top.html)-->
<h3>Invited Talks</h3>
<br>
<div>
    <div class="col-s-4 vcenter">
        <img src="img/mindell.jpg" width="200">
    </div>
    <div class="col-s-8 vcenter">
        <h4>
            <b><a href="http://site.humatics.com/humaticsteam/" target="_blank">David A. Mindell</a></b><br>
            <i>MIT</i><br>
        </h4>
    </div>
</div>
<br>
<p><b>Time:</b> Tueday June 21, 11:00 - 12:00</p>
<p><b>Location:</b> Rackham Auditorium</p>

<p><b>Title:</b> Our Robots, Ourselves: Toward Situated Autonomy</p>

<p><b>Abstract:</b> As autonomous systems move from laboratory environments to industrial and consumer applications, they must be situated within human environments. This talk presents a vision for situated autonomy, as well as some examples of where it has been successful, particularly drawing from extreme environments. New technologies and techniques for achieving situated autonomy are presented, as well as engineering and technical challenges. </p>

<p><b>Biography:</b> David A. Mindell is Professor of Aeronautics and Astronautics and Dibner Professor of the History of Engineering and Manufacturing at MIT. He has twenty-five years of experience as an engineer in undersea robotic exploration, as a veteran of more than thirty oceanographic expeditions, and as a pilot and engineer of autonomous aircraft. He is Chief Scientist of DARPA's ALIAS program with Aurora Flight Sciences. He is the award-winning author of Iron Coffin: War Technology and Experience Aboard the USS Monitor and Digital Apollo: Human and Machine in Spaceflight. He has recently founded Humatics Corporation, which creates technologies to render autonomy transparent, safe, and trustworthy by transforming how robots and autonomous systems work in human environments.<p>
<br><br><br><br><br>
<!--(bake includes/common_bottom.html)-->
