<!--(bake includes/common_top.html)-->
<h3>Invited Talks</h3>
<br>
<div>
    <div class="col-s-4 vcenter">
        <img src="img/nagpal.jpg" width="200">
    </div>
    <div class="col-s-8 vcenter">
        <h4>
            <b><a href="http://www.eecs.harvard.edu/~rad/" target="_blank">Radhika Nagpal</a></b><br>
            <i>Harvard University</i><br>
        </h4>
    </div>
</div>
<br>
<p><b>Time:</b> Wednesday June 22, 09:00 - 10:00</p>
<p><b>Location:</b> Rackham Auditorium</p>

<p><b>Title:</b> Collective "Artificial" Intelligence</p>

<p><b>Abstract:</b> In nature, groups of thousands to millions of individuals can
cooperate to create complex structure purely through local
interactions -- from cells that form complex organisms, to social
insects like termites that build meter-high mounds and army ants that
self-assemble into bridges and nests, to the complex and mesmerizing
motion of fish schools and bird flocks. What makes these systems so
fascinating to scientists and engineers alike, is that even though
each individual has limited ability, as a collective they achieve
tremendous complexity.</p>
<p>What would it take to create our own artificial collectives of the
scale and complexity that nature achieves? In this talk I will discuss
several different projects from our group that use inspiration from
biological collectives to create robotic systems: the Termes
collective construction robots, inspired by the mound-building African
termites, the Kilobot swarm, our first "colony" of a thousand
programmable robots, and some newer robotic collectives under
development. There are many challenges for both building and
programming robot swarms, and we use these systems to explore
decentralized algorithms, embodied intelligence, and methods for
synthesizing complex global behavior. Our theme is the same: can we
create simple robots that cooperate to achieve collective complexity?</p>

<p><b>Biography:</b> Radhika Nagpal is the Kavli Professor of Computer Science at Harvard
University and a core faculty member of the Wyss Institute for
Biologically Inspired Engineering. At Harvard, she leads the
Self-organizing Systems Research Group (SSR) and her research
interests span computer science, robotics, and biology. Projects from
her group include robot swarms (Termes, Kilobots, Robobees),
programming methodologies for collectives (Amorphous Computing), and
models of biology (cell networks, social insects). Her awards include
the Microsoft New Faculty Fellowship (2005), NSF Career Award (2007),
Borg Early Career Award (2010), Radcliffe Fellowship (2012), and the
McDonald Mentoring Award (2015). Recently Radhika was named by Nature
magazine as one of the top ten influential scientists and engineers of
the year (Nature 10 award, Dec 2014), and her group's work
("cooperative robots need no boss") was chosen by as one of the top
ten breakthroughs by Science magazine the same year.</p>

<p>Radhika is also the author of a Scientific American blog article on
tenure-track life ("the Awesomest 7-year postdoc", 2013), and an
advocate for a more inclusive and nurturing culture in science. In
addition to creating new robots with her research group, she enjoys
painting, dancing, and celebrating her family's indian and carribean
cultures.<p>
<br><br>
<!--(bake includes/common_bottom.html)-->
