<!--(bake includes/common_top.html)-->
<h3>Organizing Committee</h3>
<br>
<div class="container">
  <div class="row text-center">
    <div class="col-md-6">
      <b>General Chair</b><br>
      <a href="http://www.comp.nus.edu.sg/~dyhsu/" target="_blank" class="board-name">David Hsu</a><br>
      <a href="http://www.comp.nus.edu.sg/" target="_blank" class="board-org">National University of Singapore</a><br><br>

      <b>Program Chair</b><br>
      <a href="https://parasol.tamu.edu/~amato/" target="_blank" class="board-name">Nancy Amato</a><br>
      <a href="http://www.tamu.edu/" target="_blank" class="board-org">Texas A&M University</a><br><br>

      <b>Local Arrangements Co-Chairs</b><br>
      <a href="http://robots.engin.umich.edu/~ryan/" target="_blank" class="board-name">Ryan Eustice</a><br>
      <a href="http://www.umich.edu/" target="_blank" class="board-org">University of Michigan</a><br><br>

      <a href="https://april.eecs.umich.edu/people/ebolson/" target="_blank" class="board-name">Edwin Olson</a><br>
      <a href="http://www.umich.edu/" target="_blank" class="board-org">University of Michigan</a><br><br>

      <b>Workshop Co-Chairs</b><br>
      <a href="http://www.vuse.vanderbilt.edu/~adamsja/" target="_blank" class="board-name">Julie Adams</a><br>
      <a href="http://vanderbilt.edu/" target="_blank" class="board-org">Vanderbilt University</a><br><br>

      <a href="http://www.cs.unm.edu/~tapia/" target="_blank" class="board-name">Lydia Tapia</a><br>
      <a href="http://www.unm.edu/" target="_blank" class="board-org">University of New Mexico</a><br><br>

      <b>Publications Co-Chairs</b><br>
      <a href="http://faculty.engineering.asu.edu/acs/springberman" target="_blank" class="board-name">Spring Berman</a><br>
      <a href="http://asu.edu" target="_blank" class="board-org">Arizona State University</a><br><br>

      <a href="https://parasol.tamu.edu/~sjacobs/" target="_blank" class="board-name">Sam Jacobs</a><br>
      <a href="http://abb.com" target="_blank" class="board-org">ABB</a><br><br>

      <b>Short Talk Co-Chairs</b><br>
      <a href="http://robotics.itee.uq.edu.au/~hannakur" target="_blank" class="board-name">Hanna Kurniawati</a><br>
      <a href="http://www.uq.edu.au/" target="_blank" class="board-org">University of Queensland</a><br><br>

      <a href="http://allman.rhon.itam.mx/~marco.morales/" target="_blank" class="board-name">Marco Morales</a><br>
      <a href="http://www.itam.mx" target="_blank" class="board-org">ITAM</a><br><br>

      <b>Publicity Chair</b><br>
      <a href="http://sabinehauert.com/" target="_blank" class="board-name">Sabine Hauert</a><br>
      <a href="http://bristol.ac.uk/" target="_blank" class="board-org">University of Bristol</a><br><br>

      <b>Review Process Co-Chairs</b><br>
      <a href="https://parasol.tamu.edu/~sor8786/" target="_blank" class="board-name">Samuel Rodriguez</a><br>
      <a href="http://www.tamu.edu/" target="_blank" class="board-org">Texas A&M University</a><br><br>

      <a href="https://parasol.tamu.edu/~sthomas/" target="_blank" class="board-name">Shawna Thomas</a><br>
      <a href="http://www.tamu.edu/" target="_blank" class="board-org">Texas A&M University</a><br><br>

      <b>Web Chair</b><br>
      <a href="http://svozar.com" target="_blank" class="board-name">Steve Vozar</a><br>
      <a href="http://umich.edu" target="_blank" class="board-org">University of Michigan</a><br><br>

      <b>Area Chairs</b><br>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-2">
        <a href="http://www.pracsyslab.org/bekris" target="_blank" class="board-name">Kostas Bekris</a><br>
        <a href="http://newbrunswick.rutgers.edu/" target="_blank" class="board-org">Rutgers University</a><br><br>

        <a href="http://lasa.epfl.ch/people/member.php?SCIPER=115671" target="_blank" class="board-name">Aude Billard</a><br>
        <a href="http://www.epfl.ch/" target="_blank" class="board-org">EPFL</a><br><br>

        <a href="http://www.ce.utwente.nl/car/Raffaella_Carloni/Welcome.html" target="_blank" class="board-name">Raffaella Carloni</a><br>
        <a href="https://www.utwente.nl/" target="_blank" class="board-org">University of Twente</a><br><br>

        <a href="http://me.columbia.edu/matei-ciocarlie" target="_blank" class="board-name">Matei Ciocarlie</a><br>
        <a href="http://www.columbia.edu/" target="_blank" class="board-org">Columbia University</a><br><br>

        <a href="http://www-users.cs.umn.edu/~gini/" target="_blank" class="board-name">Maria Gini</a><br>
        <a href="http://twin-cities.umn.edu/" target="_blank" class="board-org">University of Minnesota</a><br><br>

        <a href="http://sertac.scripts.mit.edu/web/" target="_blank" class="board-name">Sertac Karaman</a><br>
        <a href="http://mit.edu" target="_blank" class="board-org">MIT</a><br><br>

        <a href="http://www.csc.kth.se/~hedvig/" target="_blank" class="board-name">Hedvig Kjellstr&ouml;m</a><br>
        <a href="http://www.kth.se/" target="_blank" class="board-org">KTH</a><br><br>
    </div>
    <div class="col-md-2">
        <a href="https://ece.uwaterloo.ca/~dkulic/people-dana.html" target="_blank" class="board-name">Dana Kuli&#263</a><br>
        <a href="https://uwaterloo.ca/" target="_blank" class="board-org">University of Waterloo</a><br><br>

        <a href="http://sssa.bioroboticsinstitute.it/user/57" target="_blank" class="board-name">Cecilia Laschi</a><br>
        <a href="http://sssa.bioroboticsinstitute.it/" target="_blank" class="board-org">Scuola Superiore Sant'Anna</a><br><br>

        <a href="http://cs.gmu.edu/~jmlien/" target="_blank" class="board-name">Jyh-Ming Lien</a><br>
        <a href="http://gmu.edu" target="_blank" class="board-org">George Mason University</a><br><br>

        <a href="http://www.cs.unc.edu/~lin/" target="_blank" class="board-name">Ming Lin</a><br>
        <a href="http://unc.edu" target="_blank" class="board-org">University of North Carolina</a><br><br>

        <a href="http://nxr.northwestern.edu/people/todd-murphey" target="_blank" class="board-name">Todd Murphey</a><br>
        <a href="http://www.northwestern.edu/" target="_blank" class="board-org">Northwestern University</a><br><br>

        <a href="http://webdiis.unizar.es/~neira/" target="_blank" class="board-name">Jose Neira</a><br>
        <a href="http://www.unizar.es/" target="_blank" class="board-org">Universidad de Zaragoza</a><br><br>

        <a href="http://www.ias.tu-darmstadt.de/Team/JanPeters" target="_blank" class="board-name">Jan Peters</a><br>
        <a href="http://www.tu-darmstadt.de/" target="_blank" class="board-org">TU Darmstadt</a><br>
        <a href="http://www.is.mpg.de/en" target="_blank" class="board-org">MPI Intelligent Systems</a><br><br>
    </div>
    <div class="col-md-2">
        <a href="http://web.stanford.edu/~schwager/" target="_blank" class="board-name">Mac Schwager</a><br>
        <a href="http://stanford.edu" target="_blank" class="board-org">Stanford University</a><br><br>

        <a href="http://people.csail.mit.edu/julie_a_shah/" target="_blank" class="board-name">Julie Shah</a><br>
        <a href="http://mit.edu" target="_blank" class="board-org">MIT</a><br><br>

        <a href="http://faculty.cs.tamu.edu/dzsong/" target="_blank" class="board-name">Dezhen Song</a><br>
        <a href="http://tamu.edu" target="_blank" class="board-org">Texas A&M University</a><br><br>

        <a href="http://cs.brown.edu/~stefie10/" target="_blank" class="board-name">Stefanie Tellex</a><br>
        <a href="http://brown.edu" target="_blank" class="board-org">Brown University</a><br><br>

        <a href="http://www-personal.umich.edu/~tilbury/" target="_blank" class="board-name">Dawn Tilbury</a><br>
        <a href="http://umich.edu" target="_blank" class="board-org">University of Michigan</a><br><br>

        <a href="http://www.seas.upenn.edu/directory/profile.php?ID=107" target="_blank" class="board-name">Mark Yim</a><br>
        <a href="http://www.upenn.edu" target="_blank" class="board-org">University of Pennsylvania</a><br><br>

        <a href="https://staff.aist.go.jp/e.yoshida/" target="_blank" class="board-name">Eiichi Yoshida</a><br>
        <a href="http://www.aist.go.jp/index_en.html" target="_blank" class="board-org">AIST</a><br><br>
    </div>
  </div>
</div>
<br><br>

<!--(bake includes/common_bottom.html)-->
