<!--(bake includes/common_top.html)-->
<h3>Presentation Instructions</h3>

<p>All papers in this year RSS will be presented as a short talk and poster. To find the time of your talk, please see the <a href="technicalprogram.html">program</a>. Authors will present their interactive poster during the afternoon poster session on the same day as their short talk. The format of presentations is the same as that last year. Video recordings from RSS 2014 are available <a href="http://rll.berkeley.edu/RSS2014/program.html" target="_blank">here</a> for your reference.</p>
<p>If you have questions after reading the instructions below, please contact <a href="http://robotics.itee.uq.edu.au/~hannakur" target="_blank">Hanna Kurniawati</a> or <a href="http://allman.rhon.itam.mx/~marco.morales/" target="_blank">Marco Morales</a> (Short Talks Co-Chairs) for issues regarding short talks, <a href="http://robots.engin.umich.edu/~ryan/" target="_blank">Ryan Eustice</a> or <a href="https://april.eecs.umich.edu/people/ebolson/" target="_blank">Edwin Olson</a> (Local Arrangement Co-Chairs) for issues regarding posters,  and <a href="https://parasol.tamu.edu/~amato/" target="_blank">Nancy Amato</a> (Program Chair) for issues regarding other types of talks.</p>

<br>
<b>Short Talks</b><br>
<p>A short talk is maximum 5 minutes, aided by a pre-prepared video. You will also prepare a poster for the interactive session. See below for poster preparation information.</b>
<p>Each short talk session will consist of up to 4 paper presentations.
First, the timed 5-minute videos of the papers will be presented;
no questions will be taken during this time.
Next, there will be a common 10-minute question period for all
papers presented in that session.
Presenters should be seated on the right side of the auditorium when
facing the stage in the front row at least 5 minutes before the
session starts. Conference personnel will be there to help you get
the lapel microphone on before your talk. All presenters will return
to the stage for the common question and answer session after the
last presentation in the session.
</p>
<br>
<b>5-Minute Video for Short Talks</b><br>
<p>You will have a 5-minute slot to give an overview of your paper. You must provide, in advance, a 300 second MP4 video which will play on the conference laptop during your short talk. You cannot use your own laptop and will have no control over the playback of this video. The session chair will hit "start", and you will be coaxed off the stage 5 minutes later!</p>

<p>Please submit your video <a href="http://submit.roboticsconference.org/" target="_blank">here</a>. The submission website will open on May 30th, 2016 and <b>close on June 10th, 2016, 18:00 (GMT-11)</b>. This is a <b>strict deadline</b>, and there will be no extension or exception, as we need time to verify video compatibility, resolve any potential problems, and download to the conference laptop. If you have not uploaded the video by the deadline, you will still have your 5-minute slot, but you will not have access to slides or any other materials that require a projector.</p>

<p>You can prepare your 300 second MP4 file in any manner you want. For example, you can generate a conventional Powerpoint or Keynote talk and export (if your software supports it) directly to MP4. Or you can use video-editing software. Target 1440x1080 at 30fps. We do not recommend relying on audio, since there will be no opportunity to check volume levels.</p>

<p>For convenience, we have developed a website that will convert a PDF file to an MP4 for you (available from May 30th, 2016). This is intended to make it easy for users to generate a compliant MP4 file with little additional effort. The basic process is:
    <ol>
        <li>Use Keynote/Powerpoint/Beamer to generate your slides as usual.
        <li>Export your slides to PDF.
        <li>Upload your PDF to <a href="http://pdf2mp4.roboticsconference.org" target="_blank">http://pdf2mp4.roboticsconference.org</a> (website becomes available May 30th, 2016).
        <li>Adjust the timing of each slide such that total time is 300 seconds.
        <li>Click "Preview" to quickly generate a low-resolution, low frame-rate version of your talk. This is suitable for practicing your talk (note: won't play in VLC due to a bug in VLC's handling of low-frame-rate videos).
        <li>Click "Final" to render a high-resolution version suitable for submitting to <a href="http://submit.roboticsconference.org" target="_blank">http://submit.roboticsconference.org</a>. Note that this can take a half hour or more.
    </ol>
Note that the PDF2MP4 website will overlay "progress bars" on each slide, allowing you to anticipate when the next slide will appear. You can also insert short videos into your talk, but note that any audio data is discarded. The RSS organizers believe that the functionality offered by this site is more than adequate for producing a great talk for RSS. It is recommended that authors try the site early to understand its capabilities and decide whether they will use the site or resort to their own video editing.</p>

<p>If you do not use the PDF2MP4 website, consider adding some sort of visual cue that will help you anticipate when the next slide will change, e.g., a red dot that appears five seconds before the next slide. (The PDF2MP4 site that is provided will add a progress bar to the bottom of each slide automatically).</p>

<p>If you have a video that you'd like to use that is not in MP4 format, we recommend using the free software Handbrake to convert it. The "AppleTV3" preset should work well.</p>
<br>

<b>Posters for Interactive Sessions</b><br>
<p>This year, RSS will have electronic posters. Electronic posters will be presented on 40" televisions supporting a maximum resolution of 1920x1080, and a small shelf for laptops is mounted on the TV stand. We will provide support for HDMI, VGA, and Mini DisplayPort / Thunderbolt video outputs from presenter laptops. <b>If your laptop does not support any of those outputs, you must provide your own adapter to convert to one of the supported types.</b></p>

<br>
<b>Additional Suggestions</b><br>
<p>The RSS Foundation posted a letter to the RSS community in November of 2013. One part of this letter contained helpful tips for short talks:
    <ol>
        <li>Avoid high-density slides. The point of slides is not to remind you, the speaker, of what you wanted to say. Slides are a visual aid for you to facilitate making an argument. A simple heuristic: only put on your slides what you would write or draw on a board if you were giving the talk without slides.
        <li>Practice. Almost everyone will benefit from multiple practice sessions (some of which ideally with an audience). Your goal in practicing is to be comfortable with what you plan to say on every slide without attempting to memorize a rigid script.
        <li>When time is up, stop. No one wants to cut you off in mid-sentence, but the schedule does not allow for "grace periods". Be done when the timer hits zero, and remember that no one will be upset if your talk ends 30 seconds early.
        <li>Let your enthusiasm come through. Help everyone understand why you are excited about your work.
    </ol>
Adding to the above, it is critical to remember that RSS is comprised of researchers from widely different fields. Your talk should make sense to the full audience, not only the subset in your specialized area.</p>

<p>We look forward to seeing you in Ann Arbor!</p>
<br>
<br>
<!--(bake includes/common_bottom.html)-->
