<!--(bake includes/common_top.html)-->
<h3>Program Overview</h3>
    <!-- Format taken from http://bootsnipp.com/snippets/featured/agenda -->
    <br>
    <div class="agenda">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th width="25%">Date</th>
                        <th width="27%">Time</th>
                        <th>Event</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="agenda-date" class="active" rowspan="8">
                            <div class="dayofmonth">18</div>
                            <div class="clearfix visible-xs-block"></div>
                            <div class="dayofweek">Saturday</div>
                            <div class="shortdate text-muted">June, 2016</div>
                        </td>
                        <td class="agenda-time">
                            7:30 AM - 8:30 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-fw"></i> Coffee and Light Breakfast<br>
                                <i class="fa fa-fw"></i><i> Rackham Lobby</i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            8:30 AM - 10:00 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-fw"></i> Workshops: Morning Session 1<br>
                                <i class="fa fa-fw"></i><i> Rackham Building and</i><br>
                                <i class="fa fa-fw"></i><i> North Quadrangle</i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            10:00 AM - 10:30 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-coffee fa-fw"></i> Refreshment Break<br>
                                <i class="fa fa-fw"></i><i> Rackham Lobby</i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            10:30 AM - 12:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-fw"></i> Workshops: Morning Session 2<br>
                                <i class="fa fa-fw"></i><i> Rackham Building and</i><br>
                                <i class="fa fa-fw"></i><i> North Quadrangle</i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            12:00 PM - 2:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-cutlery fa-fw"></i> Lunch Break
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            2:00 PM - 3:30 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-fw"></i> Workshops: Afternoon Session 1<br>
                                <i class="fa fa-fw"></i><i> Rackham Building and</i><br>
                                <i class="fa fa-fw"></i><i> North Quadrangle</i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            3:30 PM - 4:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-coffee fa-fw"></i> Refreshment Break<br>
                                <i class="fa fa-fw"></i><i> Rackham Lobby</i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            4:00 PM - 5:30 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-fw"></i> Workshops: Afternoon Session 2<br>
                                <i class="fa fa-fw"></i><i> Rackham Building and</i><br>
                                <i class="fa fa-fw"></i><i> North Quadrangle</i>
                            </div>
                        </td>
                    </tr>
                    <tr><td colspan=3/></tr>
                    <tr>
                        <td class="agenda-date" class="active" rowspan="9">
                            <div class="dayofmonth">19</div>
                            <div class="clearfix visible-xs-block"></div>
                            <div class="dayofweek">Sunday</div>
                            <div class="shortdate text-muted">June, 2016</div>
                        </td>
                        <td class="agenda-time">
                            7:30 AM - 8:30 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-fw"></i> Coffee and Light Breakfast<br>
                                <i class="fa fa-fw"></i><i> Rackham Lobby</i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            8:30 AM - 10:00 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-fw"></i> Workshops: Morning Session 1<br>
                                <i class="fa fa-fw"></i><i> Rackham Building and</i><br>
                                <i class="fa fa-fw"></i><i> North Quadrangle</i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            10:00 AM - 10:30 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-coffee fa-fw"></i> Refreshment Break<br>
                                <i class="fa fa-fw"></i><i> Rackham Lobby</i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            10:30 AM - 12:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-fw"></i> Workshops: Morning Session 2<br>
                                <i class="fa fa-fw"></i><i> Rackham Building and</i><br>
                                <i class="fa fa-fw"></i><i> North Quadrangle</i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            12:00 PM - 2:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-cutlery fa-fw"></i> Lunch Break
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            2:00 PM - 3:30 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-fw"></i> Workshops: Afternoon Session 1<br>
                                <i class="fa fa-fw"></i><i> Rackham Building and</i><br>
                                <i class="fa fa-fw"></i><i> North Quadrangle</i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            3:30 PM - 4:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-coffee fa-fw"></i> Refreshment Break<br>
                                <i class="fa fa-fw"></i><i> Rackham Lobby</i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            4:00 PM - 5:30 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-fw"></i> Workshops: Afternoon Session 2<br>
                                <i class="fa fa-fw"></i><i> Rackham Building and</i><br>
                                <i class="fa fa-fw"></i><i> North Quadrangle</i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            5:30 PM - 7:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-birthday-cake fa-fw"></i> Welcome Reception<br>
                                <i class="fa fa-fw"></i><i> Rackham Assembly Hall</i>
                                <div style="text-align: left;">
                                <i class="fa fa-fw"></i> Conference attendees invited at no<br>
                                <i class="fa fa-fw"></i> extra cost. No cash bar.</div>
                            </div>
                        </td>
                    </tr>
                    <tr><td colspan=3/></tr>
                    <tr>
                        <td class="agenda-date" class="active" rowspan="5">
                            <div class="dayofmonth">20</div>
                            <div class="clearfix visible-xs-block"></div>
                            <div class="dayofweek">Monday</div>
                            <div class="shortdate text-muted">June, 2016</div>
                        </td>
                        <td class="agenda-time">
                            8:00 AM - 8:45 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-fw"></i> Coffee and Light Breakfast<br>
                                <i class="fa fa-fw"></i><i> Rackham Lobby</i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            8:45 AM - 12:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-fw"></i> Conference: Morning Session<br>
                                <i class="fa fa-fw"></i><i> Rackham Auditorium</i><br>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            12:00 PM - 2:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-cutlery fa-fw"></i> Lunch Break
                                and Lab Tours<br>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            2:00 PM - 4:30 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-fw"></i> Conference: Afternoon Session<br>
                                <i class="fa fa-fw"></i><i> Rackham Auditorium</i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            4:30 PM - 6:30 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-users fa-fw"></i> Poster Session<br>
                                <i class="fa fa-fw"></i><i> Michigan League Ballroom</i><br>
                            </div>
                        </td>
                    </tr>
                    <tr><td colspan=3/></tr>
                    <tr>
                        <td class="agenda-date" class="active" rowspan="8">
                            <div class="dayofmonth">21</div>
                            <div class="clearfix visible-xs-block"></div>
                            <div class="dayofweek">Tuesday</div>
                            <div class="shortdate text-muted">June, 2016</div>
                        </td>
                        <td class="agenda-time">
                            8:00 AM - 9:00 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-fw"></i> Coffee and Light Breakfast<br>
                                <i class="fa fa-fw"></i><i> Rackham Lobby</i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            9:00 AM - 12:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-fw"></i> Conference: Morning Session<br>
                                <i class="fa fa-fw"></i><i> Rackham Auditorium</i><br>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            12:00 PM - 2:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-cutlery fa-fw"></i> Lunch Break
                                and Lab Tours<br>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            2:00 PM - 4:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-fw"></i> Conference: Afternoon Session<br>
                                <i class="fa fa-fw"></i><i> Rackham Auditorium</i><br>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            4:00 PM - 6:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-users fa-fw"></i> Poster Session<br>
                                <i class="fa fa-fw"></i><i> Michigan League Ballroom</i><br>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            6:15 PM - 8:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-fw"></i> Transport to Banquet<br>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            7:00 PM - 9:30 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-black-tie fa-fw"></i> Conference Banquet<br>
                                <i class="fa fa-fw"></i><i> The Henry Ford Museum</i><br>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            8:45 PM - 10:30 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-fw"></i> Transport from Banquet<br>
                            </div>
                        </td>
                    </tr>
                    <tr><td colspan=3/></tr>
                    <tr>
                        <td class="agenda-date" class="active" rowspan="5">
                            <div class="dayofmonth">22</div>
                            <div class="clearfix visible-xs-block"></div>
                            <div class="dayofweek">Wednesday</div>
                            <div class="shortdate text-muted">June, 2016</div>
                        </td>
                        <td class="agenda-time">
                            8:00 AM - 9:00 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-fw"></i> Coffee and Light Breakfast<br>
                                <i class="fa fa-fw"></i><i> Rackham Lobby</i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            9:00 AM - 10:30 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-fw"></i> Conference: Morning Session<br>
                                <i class="fa fa-fw"></i><i> Rackham Auditorium</i><br>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            10:30 AM - 11:30 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-fw"></i> Forum / Panel<br>
                                <i class="fa fa-fw"></i><i> Rackham Auditorium</i><br>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            11:30 AM - 12:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="fa fa-trophy fa-fw"></i> Conference: Awards and Closing<br>
                                <i class="fa fa-fw"></i><i> Rackham Auditorium</i><br>
                            </div>
                        </td>
                    </tr>
                    <tr>
                </tbody>
            </table>
        </div>
    </div>

<div>
    <b>Also available as a Google Calendar:</b><br><br>
    <div class="embed-responsive embed-responsive-4by3">
        <iframe src="https://calendar.google.com/calendar/embed?mode=AGENDA&src=umich.edu_ouhr22hkldaauto8283ko75c58%40group.calendar.google.com&ctz=America/New_York" style="border: 0" height="800" frameborder="0" scrolling="no"></iframe>
    </div>
<div>

<br>
<!--(bake includes/common_bottom.html)-->
