<!--(bake includes/common_top.html)-->
<h3>Registration</h3>

Early Registration Deadline: <i>May 17, 2016</i><br>
Regular Registration Deadline: <i>June 10, 2016</i><br>
<br>
<p>Late registrations will be accepted online June 11-17, and on-site registration will be available during the conference.
Late and on-site registrations have no guarantee of conference gift bag or banquet ticket.</p>

<p>If you require a visa to enter the United States, you can request a Letter of Invitation in the Eventbrite registration form. If requested, you will receive an email asking for information required to generate the letter within one business day.
</p>
<br>
<b>Registration Rates:</b>
<table class="table table-striped table-registration">
    <thead>
        <tr>
            <th width="57%"></th>
            <th width="30%" style="text-align:center">Regular</th>
            <th width="10%" style="text-align:center">Students</th>
        </tr>
    </thead>
    <tbody>
        <tr align="center">
            <td align="right"><strike>Early Registration: Conference + Workshops<br>Deadline: <i>May 17, 2016</i></strike></td>
            <td><strike>$485</strike></td>
            <td><strike>$285</strike></td>
        </tr>
        <tr align="center">
            <td align="right"><strike>Normal Registration: Conference + Workshops<br>Deadline: <i>June 10, 2016</i></strike></td>
            <td><strike>$635</strike></td>
            <td><strike>$385</strike></td>
        </tr>
        <tr align="center">
            <td align="right">Late Registration: Conference + Workshops<br>Deadline: <i>June 17, 2016</i></td>
            <td>$785</td>
            <td>$485</td>
        </tr>
        <tr align="center">
            <td align="right"><strike>Early Registration: Workshops only<br>Deadline: <i>May 17, 2016</i></strike></td>
            <td><strike>$185</strike></td>
            <td><strike>$135</strike></td>
        </tr>
        <tr align="center">
            <td align="right"><strike>Normal Registration: Workshops only<br>Deadline: <i>June 10, 2016</i></strike></td>
            <td><strike>$235</strike></td>
            <td><strike>$185</strike></td>
        </tr>
        <tr align="center">
            <td align="right">Late Registration: Workshops only<br>Deadline: <i>June 17, 2016</i></td>
            <td>$335</td>
            <td>$285</td>
        </tr>
    </tbody>
</table>
<br>

<b>Registration is now open via Eventbrite:</b><br>
<em>Note that if you wish to purchase an additional banquet ticket,
please add the "Extra Banquet Ticket" type to your order below</em><br>
<br>
<div style="width:100%; text-align:left;">
    <iframe frameborder="0" height="690" marginheight="5" marginwidth="5"
    scrolling="auto" src=
    "https://eventbrite.com/tickets-external?eid=18252396409&ref=etckt"
    width="100%"></iframe>
    <div style=
    "font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;">
    <a class="powered-by-eb" href="http://%3C/body%3E%3C/html%3E"
        style="color: #dddddd; text-decoration: none;" target="_blank"></a>
    </div>
</div>
For questions about the registration process, email <br>
<a href="mailto:rss2016-registration-help@umich.edu" target="_blank">rss2016-registration-help@umich.edu</a>.
<br><br><br>

<!--(bake includes/common_bottom.html)-->
