<!--(bake includes/common_top.html)-->
<h3>Sponsors</h3>
<p>We are currently soliciting sponsorship for RSS 2016. Sponsorship of this event provides an ideal opportunity to support one of the premiere international robotics conferences showcasing the latest research in this field. The RSS 2016 conference will bring together researchers working on the latest algorithmic and mathematical foundations of robotics, robotics applications, and the analysis of robotic systems. The conference will be held at the University of Michigan, Ann Arbor, and will include invited talks as well as oral and poster presentations of refereed papers. In addition to the technical aspects of the conference, a series of social events will provide opportunities for networking and for delegates to discover the beautiful city of Ann Arbor.</p>

<p>For more details, please refer to our <a href="docs/RSS2016sponsorship.pdf" target="_blank">sponsorship flyer</a>.</p>
<br>
<p>
<b>Current Sponsors:</b><br>
<center>
<a href = "http://www.engin.umich.edu" target = "_blank">
<img src="img/UMCoE-horiz.png" height="50px"></a><br><br>
<a href = "http://www.ford.com" target = "_blank">
<img src="img/Ford.jpg" height="125px"></a><br><br>
<a href = "http://www.irobot.com" target = "_blank">
<img src="img/iRobot.jpg" height="50px"></a><br><br><br>
<a href = "http://www.tri.global" target = "_blank">
<img src="img/tri.png" height="150px"></a><br><br>
<a href = "http://www.disneyresearch.com/" target = "_blank">
<img src="img/disney.png" height="125px"></a>
<a href = "http://www.springer.com/gp/" target = "_blank"><br><br><br>
<img src="img/springer.png" height="80px"></a>
<a href = "http://www.baidu.com/" target = "_blank"><br><br><br>
<img src="img/baidu.png" height="80px"></a>
</center>
</p>
<br><br><br><br>

<!--(bake includes/common_bottom.html)-->
