<!--(bake includes/common_top.html)-->
<!-- script to show/hide abstracts -->
<script type="text/javascript">
 function showhide(id) {
    var e = document.getElementById(id);
    e.style.display = (e.style.display == 'block') ? 'none' : 'block';
 }
</script>

<h3>Technical Program</h3>
<br>
<b>Jump to:</b><br><br>
<center>
    <a class="btn btn-primary" href="#saturday" role="button">Saturday</a>
    <a class="btn btn-primary" href="#sunday" role="button">Sunday</a>
    <span class="visible-xs-inline"><br><br></span>
    <a class="btn btn-primary" href="#monday" role="button">Monday</a>
    <a class="btn btn-primary" href="#tuesday" role="button">Tuesday</a>
    <a class="btn btn-primary" href="#wednesday" role="button">Wednesday</a>
</center>
<br><br>

<h4><a id="saturday" class="anchor"></a>Saturday, June 18</h4>
<table class="table table-striped table-program">
    <tr>
        <td width="20%"><b>07:30 - 08:30</b></td>
        <td><b>Coffee and Light Breakfast</b><br><i>Location: Rackham Building Lobby</i></td>
    </tr>
    <tr>
        <td><b>08:30 - 10:00</b></td>
        <td>
            <b><a href="workshops.html#saturday">Saturday Workshops</a>: Morning Session 1</b>
            <br><i>Location: Rackham Building and North Quadrangle</i>
        </td>
    </tr>
    <tr>
        <td><b>10:00 - 10:30</b></td>
        <td><b>Refreshment Break</b><br><i>Location: Rackham Building Lobby</i></td>
    </tr>
    <tr>
        <td><b>10:30 - 12:00</b></td>
        <td>
            <b><a href="workshops.html#saturday">Saturday Workshops</a>: Morning Session 2</b>
            <br><i>Location: Rackham Building and North Quadrangle</i>
        </td>
    </tr>
    <tr>
        <td><b>12:00 - 14:00</b></td>
        <td><b>Lunch Break</b></td>
    </tr>
    <tr>
        <td><b>14:00 - 15:30</b></td>
        <td>
            <b><a href="workshops.html#saturday">Saturday Workshops</a>: Afternoon Session 1</b>
            <br><i>Location: Rackham Building and North Quadrangle</i>
        </td>
    </tr>
    <tr>
        <td><b>15:30 - 16:00</b></td>
        <td><b>Refreshment Break</b><br><i>Location: Rackham Building Lobby</i></td>
    </tr>
    <tr>
        <td><b>16:00 - 17:30</b></td>
        <td>
            <b><a href="workshops.html#saturday">Saturday Workshops</a>: Afternoon Session 2</b>
            <br><i>Location: Rackham Building and North Quadrangle</i>
        </td>
    </tr>
</table>
<br>

<h4><a id="sunday" class="anchor"></a>Sunday, June 19</h4>
<table class="table table-striped table-program">
    <tr>
        <td width="20%"><b>07:30 - 08:30</b></td>
        <td><b>Coffee and Light Breakfast</b><br><i>Location: Rackham Building Lobby</i></td>
    </tr>
    <tr>
        <td><b>08:30 - 10:00</b></td>
        <td>
            <b><a href="workshops.html#sunday">Sunday Workshops</a>: Morning Session 1</b>
            <br><i>Location: Rackham Building and North Quadrangle</i>
        </td>
    </tr>
    <tr>
        <td><b>10:00 - 10:30</b></td>
        <td><b>Refreshment Break</b><br><i>Location: Rackham Building Lobby</i></td>
    </tr>
    <tr>
        <td><b>10:30 - 12:00</b></td>
        <td>
            <b><a href="workshops.html#sunday">Sunday Workshops</a>: Morning Session 2</b>
            <br><i>Location: Rackham Building and North Quadrangle</i>
        </td>
    </tr>
    <tr>
        <td><b>12:00 - 14:00</b></td>
        <td><b>Lunch Break</b></td>
    </tr>
    <tr>
        <td><b>14:00 - 15:30</b></td>
        <td>
            <b><a href="workshops.html#sunday">Sunday Workshops</a>: Afternoon Session 1</b>
            <br><i>Location: Rackham Building and North Quadrangle</i>
        </td>
    </tr>
    <tr>
        <td><b>15:30 - 16:00</b></td>
        <td><b>Refreshment Break</b><br><i>Location: Rackham Building Lobby</i></td>
    </tr>
    <tr>
        <td><b>16:00 - 17:30</b></td>
        <td>
            <b><a href="workshops.html#sunday">Sunday Workshops</a>: Afternoon Session 2</b>
            <br><i>Location: Rackham Building and North Quadrangle</i>
        </td>
    </tr>
    <tr>
        <td><b>17:30 - 19:00</b></td>
        <td><b>Welcome Reception</b><br><i>Location: Rackham Assembly Hall</i><br><br>
            Conference attendees invited at no extra cost. No cash bar.
        </td>
    </tr>
</table>
<br>

<h4><a id="monday" class="anchor"></a>Monday, June 20</h4>
<table class="table table-striped table-program">
    <tr>
        <td width="20%"><b>08:00 - 08:45</b></td>
        <td><b>Coffee and Light Breakfast</b><br><i>Location: Rackham Building Lobby</i></td>
    </tr>
    <tr>
        <td><b>08:45 - 09:00</b></td>
        <td>
          <b>Opening Remarks</b><br>
          <i>Location: Rackham Auditorium</i><br>
          <b>[<a href="videos/sessions/monday_opening.mp4" target="_blank">Video</a>]</b>
        </td>
    </tr>
    <tr>
        <td><b>09:00 - 10:00</b></td>
        <td>
            <b>Spotlight Talks: Group 1</b><br>
            <i>Location: Rackham Auditorium</i><br>
            Session Chair: Sertac Karaman<br>
            <b>[<a href="videos/sessions/spotlight_group1.mp4" target="_blank">Full Session Video</a>]</b><br><br>
            Talk 1: <i><a href=javascript:showhide('p01abstract')>Motion Planning as Probabilistic Inference using Gaussian Processes and Factor Graphs</a></i>
            <b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p01.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p01.mp4" target="_blank">Slides</a>]</b><br>
            Jing Dong, Mustafa Mukadam, Frank Dellaert and Byron Boots
            <div id="p01abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p01.html)-->
            </div>
            <br><br>

            Talk 2: <i><a href=javascript:showhide('p02abstract')>Incremental Task and Motion Planning: A Constraint-Based Approach</a></i>
            <b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p02.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p02.mp4" target="_blank">Slides</a>]</b><br>
            Neil T. Dantam, Zachary K. Kingston, Swarat Chaudhuri and Lydia E. Kavraki
            <div id="p02abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p02.html)-->
            </div>
            <br><br>

            Talk 3: <i><a href=javascript:showhide('p03abstract')>New perspective on sampling-based motion planning via random geometric graphs</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p03.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p03.mp4" target="_blank">Slides</a>]</b><br>
            Kiril Solovey, Oren Salzman and Dan Halperin
            <div id="p03abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p03.html)-->
            </div>
            <br><br>

            Talk 4: <i><a href=javascript:showhide('p04abstract')>Robot Motion Planning on a Chip</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p04.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p04.mp4" target="_blank">Slides</a>]</b><br>
            Sean Murray, Will Floyd-Jones, Ying Qi, Daniel Sorin and George Konidaris<br>
            <div id="p04abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p04.html)-->
            </div>

            <hr>
            <b>Spotlight Talks: Group 2</b><br>
            <i>Location: Rackham Auditorium</i><br>
            Session Chair: Eiichi Yoshida<br>
            <b>[<a href="videos/sessions/spotlight_group2.mp4" target="_blank">Full Session Video</a>]</b><br><br>
            Talk 5: <i><a href=javascript:showhide('p05abstract')>An Inverse Optimal Control Approach for the Transfer of Human Walking Motions in Constrained Environment to Humanoid Robots</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p05.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p05.mp4" target="_blank">Slides</a>]</b><br>
Debora Clever and Katja Mombaur
            <div id="p05abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p05.html)-->
            </div>
            <br><br>


            Talk 6: <i><a href=javascript:showhide('p06abstract')>Simplifying Gait Design via Shape Basis Optimization</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p06.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p06.mp4" target="_blank">Slides</a>]</b><br>
Chaohui Gong, Daniel I. Goldman and Howie Choset
            <div id="p06abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p06.html)-->
            </div>
            <br><br>
            Talk 7: <i><a href=javascript:showhide('p07abstract')>"Body-in-the-Loop" Optimization of Assistive Robotic Devices: A Validation Study</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p07.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p07.mp4" target="_blank">Slides</a>]</b><br>
Jeffrey R Koller, Deanna H Gates, Daniel P Ferris and C David Remy
            <div id="p07abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p07.html)-->
            </div>
            <br><br>

            Talk 8: <i><a href=javascript:showhide('p08abstract')>Mechanical Antagonism in Legged Robots</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p08.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p08.mp4" target="_blank">Slides</a>]</b><br>
Andy Abate, Jonathan W. Hurst and Ross L. Hatton
            <div id="p08abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p08.html)-->
            </div>
            <br><br>

        </td>
    </tr>
    <tr>
        <td><b>10:00 - 10:30</b></td>
        <td><b>Refreshment Break</b><br><i>Location: Rackham Building Lobby</i></td>
    </tr>
    <tr>
        <td><b>10:30 - 11:00</b></td>
        <td>
            <b>Spotlight Talks: Group 3</b><br>
            <i>Location: Rackham Auditorium</i><br>
            Session Chair: Julie Shah<br>
            <b>[<a href="videos/sessions/spotlight_group3.mp4" target="_blank">Full Session Video</a>]</b><br><br>
            Talk 9: <i><a href=javascript:showhide('p09abstract')>Synergistic Design of a Bio-Inspired Micro Aerial Vehicle with Articulated Wings</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p09.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p09.mp4" target="_blank">Slides</a>]</b><br>
Jonathan Hoff, Alireza Ramezani, Soon-Jo Chung and Seth Hutchinson
            <div id="p09abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p09.html)-->
            </div>
            <br><br>
            Talk 10: <i><a href=javascript:showhide('p10abstract')>Robust Phase-Space Planning for Agile Legged Locomotion over Various Terrain Topologies</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p10.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p10.mp4" target="_blank">Slides</a>]</b><br>
Ye Zhao, Benito Fernandez and Luis Sentis
            <div id="p10abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p10.html)-->
            </div>
            <br><br>
            Talk 11: <i><a href=javascript:showhide('p11abstract')>Design and Implementation of a Novel Robot Fish with Active and Compliant Propulsion Mechanism</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p11.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p11.mp4" target="_blank">Slides</a>]</b><br>
Yong Zhong and Ruxu Du
            <div id="p11abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p11.html)-->
            </div>
            <br><br>
            Talk 12: <i><a href=javascript:showhide('p12abstract')>Geometric Swimming on a Granular Surface</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p12.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p12.mp4" target="_blank">Slides</a>]</b><br>
Jin Dai, Hossein Faraji, Chaohui Gong, Ross L. Hatton, Daniel I. Goldman and Howie Choset
            <div id="p12abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p12.html)-->
            </div>
            <br><br>
        </td>
    </tr>
    <tr>
        <td><b>11:00 - 12:00</b></td>
        <td>
            <b>Keynote Presentation</b><br>
            <i>Location: Rackham Auditorium</i><br>
            Session Chair: Edwin Olson<br>
            <b>[<a href="videos/sessions/jacobs_keynote.mp4" target="_blank">Video</a>]</b><br><br>
            <a href="jacobs-talk.html">Lucia F. Jacobs</a>:
            <i>Disruptive innovation in nature: how the invention of the vertebrate nose led to the reengineering of sensory and navigation systems.</i><br><br>
        </td>
    </tr>
    <tr>
        <td><b>12:00 - 14:00</b></td>
        <td>
            <b>Lunch Break</b><br><br>
            Optional <a href="tours.html">lab tour</a>, including <a href="http://www.mtc.umich.edu/test-facility" target="_blank">Mcity</a> autonomous and connected vehicle test facility. Boxed lunch provided, max attendees: 80. Buses depart from in front of the <a href="https://goo.gl/maps/qkGJXasWoYt" target="_blank">Michigan League</a>.<br><br>
        </td>
    </tr>
    <tr>
        <td><b>14:00 - 15:00</b></td>
        <td>
            <b>Spotlight Talks: Group 4</b><br>
            <i>Location: Rackham Auditorium</i><br>
            Session Chair: Todd Murphey<br>
            <b>[<a href="videos/sessions/spotlight_group4.mp4" target="_blank">Full Session Video</a>]</b><br><br>
            Talk 13: <i><a href=javascript:showhide('p13abstract')>Estimating SE(3) elements using a dual quaternion based linear Kalman filter</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p13.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p13.mp4" target="_blank">Slides</a>]</b><br>
Rangaprasad Arun Srivatsan, Gillian T. Rosen, D. Feroze Naina Mohamed and Howie Choset
            <div id="p13abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p13.html)-->
            </div>
            <br><br>
            Talk 14: <a href=javascript:showhide('p14abstract')><i>Probabilistic Approaches to the </i>AXB = YCZ<i> Calibration Problem in
Multi-Robot Systems</i></a><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p14.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p14.mp4" target="_blank">Slides</a>]</b><br>
Qianli Ma, Zachariah Goh and Gregory S. Chirikjian
            <div id="p14abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p14.html)-->
            </div>
            <br><br>
            Talk 15: <i><a href=javascript:showhide('p15abstract')>Set-labelled filters and sensor transformations</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p15.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p15.mp4" target="_blank">Slides</a>]</b><br>
Fatemeh Zahra Saberifar, Shervin Ghasemlou, Jason M. O'Kane and Dylan A. Shell
            <div id="p15abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p15.html)-->
            </div>
            <br><br>
            Talk 16: <i><a href=javascript:showhide('p16abstract')>Recursive Decentralized Collaborative Localization for Sparsely Communicating Robots</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p16.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p16.mp4" target="_blank">Slides</a>]</b><br>
Lukas Luft, Tobias Schubert, Stergios I. Roumeliotis and Wolfram Burgard<br>
            <div id="p16abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p16.html)-->
            </div>

            <hr>
            <b>Spotlight Talks: Group 5</b><br>
            <i>Location: Rackham Auditorium</i><br>
            Session Chair: Dawn Tilbury<br>
            <b>[<a href="videos/sessions/spotlight_group5.mp4" target="_blank">Full Session Video</a>]</b><br><br>
            Talk 17: <i><a href=javascript:showhide('p17abstract')>Safe Control under Uncertainty with Probabilistic Signal Temporal Logic</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p17.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p17.mp4" target="_blank">Slides</a>]</b><br>
Dorsa Sadigh and Ashish Kapoor
            <div id="p17abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p17.html)-->
            </div>
            <br><br>
            Talk 18: <i><a href=javascript:showhide('p18abstract')>Closed Loop Control of a Tethered Magnetic Capsule Endoscope</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p18.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p18.mp4" target="_blank">Slides</a>]</b><br>
Addisu Z. Taddese, Piotr R. Slawinski, Keith L. Obstein and Pietro Valdastri
            <div id="p18abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p18.html)-->
            </div>
            <br><br>
            Talk 19: <i><a href=javascript:showhide('p19abstract')>Coordinated multi-arm motion planning: Reaching for moving objects in the face of uncertainty</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p19.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p19.mp4" target="_blank">Slides</a>]</b><br>
Seyed Sina Mirrazavi Salehian, Nadia Figueroa and Aude Billard
            <div id="p19abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p19.html)-->
            </div>
            <br><br>
            Talk 20: <i><a href=javascript:showhide('p20abstract')>Shape-Based Compliance in Locomotion</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p20.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p20.mp4" target="_blank">Slides</a>]</b><br>
Matt Travers, Julian Whitman, Perrin Schiebel, Dan Goldman and Howie Choset
            <div id="p20abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p20.html)-->
            </div>
            <br><br>
        </td>
    </tr>
    <tr>
        <td><b>15:00 - 15:30</b></td>
        <td><b>Refreshment Break</b><br><i>Location: Rackham Building Lobby</i></td>
    </tr>
    <tr>
        <td><b>15:30 - 16:00</b></td>
        <td>
            <b>Spotlight Talks: Group 6</b><br>
            <i>Location: Rackham Auditorium</i><br>
            Session Chair: Steve Vozar<br>
            <b>[<a href="videos/sessions/spotlight_group6.mp4" target="_blank">Full Session Video</a>]</b><br><br>
            Talk 21: <i><a href=javascript:showhide('p21abstract')>Seeing Glassware: from Edge Detection to Pose Estimation and Shape Recovery</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p21.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p21.mp4" target="_blank">Slides</a>]</b><br>
Cody J. Phillips, Matthieu Lecce and Kostas Daniilidis
            <div id="p21abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p21.html)-->
            </div>
            <br><br>
            Talk 22: <i><a href=javascript:showhide('p22abstract')>A Cartesian 6-DoF Gaze Controller for Humanoid Robots</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p22.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p22.mp4" target="_blank">Slides</a>]</b><br>
Alessandro Roncone, Ugo Pattacini, Giorgio Metta and Lorenzo Natale
            <div id="p22abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p22.html)-->
            </div>
            <br><br>
            Talk 23: <i><a href=javascript:showhide('p23abstract')>Discriminatively-guided Deliberative Perception for Pose Estimation of Multiple 3D Object Instances</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p23.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p23.mp4" target="_blank">Slides</a>]</b><br>
Venkatraman Narayanan and Maxim Likhachev
            <div id="p23abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p23.html)-->
            </div>
            <br><br>
            Talk 24: <i><a href=javascript:showhide('p24abstract')>A Probabilistic Framework for Real-time 3D Segmentation using Spatial, Temporal, and Semantic Cues</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p24.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p24.mp4" target="_blank">Slides</a>]</b><br>
David Held, Devin Guillory, Brice Rebsamen, Sebastian Thrun and Silvio Savarese<br>
            <div id="p24abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p24.html)-->
            </div>
            <br><br>

        </td>
    </tr>
    <tr>
        <td><b>16:00 - 16:30</b></td>
        <td>
            <b>Early Career Spotlight</b><br>
            <i>Location: Rackham Auditorium</i><br>
            Session Chair: Lydia Kavraki<br>
            <b>[<a href="videos/sessions/kim_early_career.mp4" target="_blank">Video</a>]</b><br><br>
            <a href="careerspotlight.html">Sangbae Kim</a>:
            <i>MIT Cheetah: new design paradigm shift toward mobile robots</i><br><br>
        </td>
    </tr>
    <tr>
        <td><b>16:30 - 16:40</b></td>
        <td>
            <b>Break to walk to poster session</b><br>
        </td>
    </tr>
    <tr>
        <td><b>16:40 - 18:30</b></td>
        <td>
            <b>Poster Session: Posters 1-24</b><br>
            <i>Location: Michigan League Ballroom</i><br><br>
            Posters are numbered by talk order (<i>i.e.</i> Talk 1 corresponds to Poster 1). Light refreshments and beverages will be served.
        </td>
    </tr>
</table>
<br>
<h4><a id="tuesday" class="anchor"></a>Tuesday, June 21</h4>
<table class="table table-striped table-program">
    <tr>
        <td width="20%"><b>08:00 - 09:00</b></td>
        <td><b>Coffee and Light Breakfast</b><br><i>Location: Rackham Building Lobby</i></td>
    </tr>
    <tr>
        <td><b>09:00 - 10:00</b></td>
        <td>
            <b>Spotlight Talks: Group 7</b><br>
            <i>Location: Rackham Auditorium</i><br>
            Session Chair: Sidd Srinivasa<br>
            <b>[<a href="videos/sessions/spotlight_group7.mp4" target="_blank">Full Session Video</a>]</b><br><br>
            Talk 25: <i><a href=javascript:showhide('p25abstract')>An End-To-End System for Accomplishing Tasks with Modular Robots</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p25.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p25.mp4" target="_blank">Slides</a>]</b><br>
Gangyuan Jing, Tarik Tosun, Mark Yim and Hadas Kress-Gazit
            <div id="p25abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p25.html)-->
            </div>
            <br><br>
            Talk 26: <i><a href=javascript:showhide('p26abstract')>Robotic Assistance in Coordination of Patient Care</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p26.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p26.mp4" target="_blank">Slides</a>]</b><br>
Matthew Gombolay, Xi Jessie Yang, Brad Hayes, Nicole Seo, Zixi Liu, Samir Wadhwania, Tania Yu, Neel Shah, Toni Golen and Julie Shah
            <div id="p26abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p26.html)-->
            </div>
            <br><br>
            Talk 27: <i><a href=javascript:showhide('p27abstract')>Online Feedback Control for Input-Saturated Robotic Systems on Lie Groups</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p27.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p27.mp4" target="_blank">Slides</a>]</b><br>
Taosha Fan and Todd Murphey
            <div id="p27abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p27.html)-->
            </div>
            <br><br>
            Talk 28: <i><a href=javascript:showhide('p28abstract')>Mathematical Tools for Analysis, Simulation and Design of Robotic Angular Encoders</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p28.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p28.mp4" target="_blank">Slides</a>]</b><br>
Peter G. Cramer<br>
            <div id="p28abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p28.html)-->
            </div>

            <hr>
            <b>Spotlight Talks: Group 8</b><br>
            <i>Location: Rackham Auditorium</i><br>
            Session Chair: Lydia Tapia<br>
            <b>[<a href="videos/sessions/spotlight_group8.mp4" target="_blank">Full Session Video</a>]</b><br><br>
            Talk 29: <i><a href=javascript:showhide('p29abstract')>Planning for Autonomous Cars that Leverage Effects on Human Actions</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p29.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p29.mp4" target="_blank">Slides</a>]</b><br>
Dorsa Sadigh, Shankar Sastry, Sanjit A. Seshia and Anca D. Dragan
            <div id="p29abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p29.html)-->
            </div>
            <br><br>
            Talk 30: <i><a href=javascript:showhide('p30abstract')>A Novel Relationship Between Dynamics and Complexity in Multi-agent Collision Avoidance</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p30.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p30.mp4" target="_blank">Slides</a>]</b><br>
Jeffrey Kane Johnson
            <div id="p30abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p30.html)-->
            </div>
            <br><br>
            Talk 31: <i><a href=javascript:showhide('p31abstract')>Planar Time Optimal Paths for Non-Symmetric Vehicles in Constant Flows</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p31.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p31.mp4" target="_blank">Slides</a>]</b><br>
Bilal Hammoud and Elie Shammas
            <div id="p31abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p31.html)-->
            </div>
            <br><br>
            Talk 32: <i><a href=javascript:showhide('p32abstract')>Routing Autonomous Vehicles in Congested Transportation Networks: Structural Properties and Coordination Algorithms</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p32.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p32.mp4" target="_blank">Slides</a>]</b><br>
Rick Zhang, Federico Rossi and Marco Pavone
            <div id="p32abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p32.html)-->
            </div>
            <br><br>
        </td>
    </tr>
    <tr>
        <td><b>10:00 - 10:30</b></td>
        <td><b>Refreshment Break</b><br><i>Location: Rackham Building Lobby</i></td>
    </tr>
    <tr>
        <td><b>10:30 - 11:00</b></td>
        <td>
            <b>Spotlight Talks: Group 9</b><br>
            <i>Location: Rackham Auditorium</i><br>
            Session Chair: Mark Yim<br>
            <b>[<a href="videos/sessions/spotlight_group9.mp4" target="_blank">Full Session Video</a>]</b><br><br>
            Talk 33: <i><a href=javascript:showhide('p33abstract')>Combined Optimization and Reinforcement Learning for Manipulation Skills</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p33.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p33.mp4" target="_blank">Slides</a>]</b><br>
Peter Englert and Marc Toussaint
            <div id="p33abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p33.html)-->
            </div>
            <br><br>
            Talk 34: <i><a href=javascript:showhide('p34abstract')>Understanding Hand-Object Manipulation with Grasp Types and Object Attributes</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p34.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p34.mp4" target="_blank">Slides</a>]</b><br>
Minjie Cai, Kris M. Kitani and Yoichi Sato
            <div id="p34abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p34.html)-->
            </div>
            <br><br>
            Talk 35: <i><a href=javascript:showhide('p35abstract')>Integrated force and distance sensing using elastomer-embedded commodity proximity sensors</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p35.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p35.mp4" target="_blank">Slides</a>]</b><br>
Radhen Patel and Nikolaus Correll
            <div id="p35abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p35.html)-->
            </div>
            <br><br>
            Talk 36: <i><a href=javascript:showhide('p36abstract')>Lessons from the Amazon Picking Challenge: Four Aspects of Building Robotic Systems</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p36.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p36.mp4" target="_blank">Slides</a>]</b><br>
Clemens Eppner, Sebastian H&oumlfer, Rico Jonschkowski, Roberto Mart&iacuten-Mart&iacuten, Arne Sieverling, Vincent Wall and Oliver Brock
            <div id="p36abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p36.html)-->
            </div>
            <br><br>
        </td>
    </tr>
    <tr>
        <td><b>11:00 - 12:00</b></td>
        <td>
            <b>Keynote Presentation</b><br>
            <i>Location: Rackham Auditorium</i><br>
            Session Chair: Ryan Eustice<br>
            <b>[<a href="videos/sessions/mindell_keynote.mp4" target="_blank">Video</a>]</b><br><br>
            <a href="mindell-talk.html">David A. Mindell</a>:
            <i>Our Robots, Ourselves: Toward Situated Autonomy</i><br><br>
        </td>
    </tr>
    <tr>
        <td><b>12:00 - 14:00</b></td>
        <td>
            <b>Lunch Break</b><br><br>
            Optional <a href="tours.html">lab tour</a>, including <a href="http://www.mtc.umich.edu/test-facility" target="_blank">Mcity</a> autonomous and connected vehicle test facility. Boxed lunch provided, max attendees: 80. Buses depart from in front of the <a href="https://goo.gl/maps/qkGJXasWoYt" target="_blank">Michigan League</a>.<br><br>
        </td>
    </tr>
    <tr>
        <td><b>14:00 - 15:00</b></td>
        <td>
            <b>Spotlight Talks: Group 10</b><br>
            <i>Location: Rackham Auditorium</i><br>
            Session Chair: Stefanie Tellex<br>
            <b>[<a href="videos/sessions/spotlight_group10.mp4" target="_blank">Full Session Video</a>]</b><br><br>
            Talk 37: <i><a href=javascript:showhide('p37abstract')>Efficient Grounding of Abstract Spatial Concepts for Natural Language Interaction with Robot Manipulators</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p37.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p37.mp4" target="_blank">Slides</a>]</b><br>
Rohan Paul, Jacob Arkin, Nicholas Roy and Thomas M. Howard
            <div id="p37abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p37.html)-->
            </div>
            <br><br>
            Talk 38: <i><a href=javascript:showhide('p38abstract')>Asking for Help with the Right Question by Predicting Human Visual Performance</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p38.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p38.mp4" target="_blank">Slides</a>]</b><br>
Hong Cai and Yasamin Mostofi
            <div id="p38abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p38.html)-->
            </div>
            <br><br>
            Talk 39: <i><a href=javascript:showhide('p39abstract')>Representing and Learning Complex Object Interactions</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p39.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p39.mp4" target="_blank">Slides</a>]</b><br>
Yilun Zhou and George Konidaris
            <div id="p39abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p39.html)-->
            </div>
            <br><br>
            Talk 40: <i><a href=javascript:showhide('p40abstract')>Situated Language Understanding with Human-like and Visualization-Based Transparency</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p40.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p40.mp4" target="_blank">Slides</a>]</b><br>
Leah Perlmutter, Eric Kernfeld and Maya Cakmak<br>
            <div id="p40abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p40.html)-->
            </div>
            <hr>

            <b>Spotlight Talks: Group 11</b><br>
            <i>Location: Rackham Auditorium</i><br>
            Session Chair: Jose Neira<br>
            <b>[<a href="videos/sessions/spotlight_group11.mp4" target="_blank">Full Session Video</a>]</b><br><br>
            Talk 41: <i><a href=javascript:showhide('p41abstract')>Multi-modal Auto-Encoders as Joint Estimators for Robotics Scene Understanding</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p41.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p41.mp4" target="_blank">Slides</a>]</b><br>
Cesar Cadena, Anthony Dick and Ian D. Reid
            <div id="p41abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p41.html)-->
            </div>
            <br><br>
            Talk 42: <i><a href=javascript:showhide('p42abstract')>Vehicle Detection from 3D Lidar Using Fully Convolutional Network</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p42.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p42.mp4" target="_blank">Slides</a>]</b><br>
Bo Li, Tianlei Zhang and Tian Xia
            <div id="p42abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p42.html)-->
            </div>
            <br><br>
            Talk 43: <i><a href=javascript:showhide('p43abstract')>Robust Multimodal Sequence-Based Loop Closure Detection via Structured Sparsity</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p43.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p43.mp4" target="_blank">Slides</a>]</b><br>
Hao Zhang, Fei Han and Hua Wang
            <div id="p43abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p43.html)-->
            </div>
            <br><br>
            Talk 44: <i><a href=javascript:showhide('p44abstract')>Street-View Change Detection with Deconvolutional Networks</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p44.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p44.mp4" target="_blank">Slides</a>]</b><br>
Pablo F. Alcantarilla, Simon Stent, German Ros, Roberto Arroyo and Riccardo Gherardi
            <div id="p44abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p44.html)-->
            </div>
            <br><br>
        </td>
    </tr>
    <tr>
        <td><b>15:00 - 15:30</b></td>
        <td><b>Refreshment Break</b><br><i>Location: Rackham Building Lobby</i></td>
    </tr>
    <tr>
        <td><b>15:30 - 16:00</b></td>
        <td>
            <b>Spotlight Talks: Group 12</b><br>
            <i>Location: Rackham Auditorium</i><br>
            Session Chair: Shawna Thomas<br>
            <b>[<a href="videos/sessions/spotlight_group12.mp4" target="_blank">Full Session Video</a>]</b><br><br>
            Talk 45: <i><a href=javascript:showhide('p45abstract')>Task Variant Allocation in Distributed Robotics</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p45.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p45.mp4" target="_blank">Slides</a>]</b><br>
Jos&eacute Cano, David R. White, Alejandro Bordallo, Ciaran McCreesh, Patrick Prosser, Jeremy Singer and Vijay Nagarajan
            <div id="p45abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p45.html)-->
            </div>
            <br><br>
            Talk 46: <i><a href=javascript:showhide('p46abstract')>Functional Gradient Motion Planning in Reproducing Kernel Hilbert Spaces</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p46.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p46.mp4" target="_blank">Slides</a>]</b><br>
Zita Marinho, Byron Boots, Anca Dragan, Arunkumar Byravan, Geoffrey J. Gordon and Siddhartha Srinivasa
            <div id="p46abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p46.html)-->
            </div>
            <br><br>
            Talk 47: <i><a href=javascript:showhide('p47abstract')>Time and Energy Optimal Path Planning in General Flows</a></i><b>&emsp;[<a href="http://www.roboticsproceedings.org/rss12/p47.html" target="_blank">Full&nbspPaper</a>&nbsp|&nbsp<a href="videos/slides/p47.mp4" target="_blank">Slides</a>]</b><br>
Dhanushka Kularatne, Subhrajit Bhattacharya and M. Ani Hsieh
            <div id="p47abstract" style="display:none;" align="justify">
                <br><!--(bake includes/abstracts/p47.html)-->
            </div>
            <br><br>
        </td>
    </tr>
    <tr>
        <td><b>16:00 - 16:10</b></td>
        <td>
            <b>Break to walk to poster session</b><br>
        </td>
    </tr>
    <tr>
        <td><b>16:10 - 18:00</b></td>
        <td>
            <b>Poster Session: Posters 25-47</b><br>
            <i>Location: Michigan League Ballroom</i><br><br>
            Posters are numbered by talk order (<i>i.e.</i> Talk 1 corresponds to Poster 1). Light refreshments and beverages will be served.
        </td>
    </tr>
    <tr>
        <td><b>18:15 - 20:00</b></td>
        <td>
            <b>Transportation to Banquet</b><br>
            <i>Banquet buses depart Michigan League at 18:15 and 18:45</i><br><br>
        </td>
    </tr>
    <tr>
        <td><b>19:00 - 21:30</b></td>
        <td>
            <b>Conference Banquet</b><br>
            <i>Location: The Henry Ford Museum</i><br>
        </td>
    </tr>
    <tr>
        <td><b>20:45 - 22:30</b></td>
        <td>
            <b>Return Transportation from Banquet</b><br>
            <i>Buses depart for both Michigan League and southern Ann Arbor hotels at 20:45, 21:15, and 22:45</i><br>
        </td>
    </tr>
</table>
<br>
<h4><a id="wednesday" class="anchor"></a>Wednesday, June 22</h4>
<table class="table table-striped table-program">
    <tr>
        <td width="20%"><b>08:00 - 09:00</b></td>
        <td><b>Coffee and Light Breakfast</b><br><i>Location: Rackham Building Lobby</i></td>
    </tr>
    <tr>
        <td><b>09:00 - 10:00</b></td>
        <td>
            <b>Keynote Presentation</b><br>
            <i>Location: Rackham Auditorium</i><br>
            Session Chair: David Hsu<br>
            <b>[<a href="videos/sessions/nagpal_keynote.mp4" target="_blank">Video</a>]</b><br><br>
            <a href="nagpal-talk.html">Radhika Nagpal</a>:
            <i>Collective "Artificial" Intelligence</i><br><br>
        </td>
    </tr>
    <tr>
        <td><b>10:00 - 10:30</b></td>
        <td><b>Refreshment Break</b><br><i>Location: Rackham Building Lobby</i></td>
    </tr>
    <tr>
        <td><b>10:30 - 11:00</b></td>
        <td>
            <b>Panel: Surprises in Robotics in the next 3-5 Years</b><br>
            <i>Location: Rackham Auditorium</i><br>
            <b>[<a href="videos/sessions/rss_panel.mp4" target="_blank">Video</a>]</b><br><br>
            Panelists: Oliver Brock, Ben Kuipers, Nick Roy, Dylan Shell<br>
            Moderator: Nancy Amato<br>
        </td>
    </tr>
    <tr>
        <td><b>11:00 - 11:45</b></td>
        <td>
            <b>RSS Forum</b><br>
            <i>Location: Rackham Auditorium</i><br>
            <b>[<a href="videos/sessions/rss_forum.mp4" target="_blank">Video</a>]</b><br>
        </td>
    </tr>
    <tr>
        <td><b>11:45 - 12:00</b></td>
        <td>
            <b>Awards and Closing</b><br>
            <i>Location: Rackham Auditorium</i><br>
            <b>[<a href="videos/sessions/rss_awards.mp4" target="_blank">Video</a>]</b><br>
        </td>
    </tr>
</table>
<!--(bake includes/common_bottom.html)-->
