<!--(bake includes/common_top.html)-->
<h3>Optional Mcity and Laboratory Tours</h3>
<p>
We are pleased to offer tours of <a href="http://www.mtc.umich.edu/test-facility" target="_blank">Mcity</a>, the University of Michigan's state-of-the-art autonomous and connected vehicle test facility, as well as several of UofM's robotics laboratories on North Campus. These tours will take place during lunch on Monday June 20 and Tuesday June 21, and include bus transportation to and from North Campus as well as a boxed lunch. Admission is first-come first-served, limited to the first 80 attendees arriving to the buses, which will leave promptly at 12:10pm from in front of the <a href="https://goo.gl/maps/qkGJXasWoYt" target="_blank">Michigan League</a> in order to give adequate time for the tours.</p>

<p>Attendees will first tour Mcity, and then will be broken up into three groups to tour different sets of labs:</p>
<ul>
    <li><b>Group 1a: (Monday Only)</b></li>
    <ul>
        <li><a href="http://a2sys.engin.umich.edu/" target="_blank">Autonomous Aerospace Systems Lab</a> (Prof. Ella Atkins)</li>
        <li><a href="http://www-personal.umich.edu/~dpanagou/labs/index.html" target="_blank">Distributed Aerospace Systems and Control Laboratory</a> (Prof. Dimitra Panagou)</li>
    </ul>
    <li><b>Group 1b: (Tuesday Only)</b></li>
    <ul>
        <li><a href="http://web.eecs.umich.edu/faculty/grizzle/index.html" target="_blank">Grizzle Lab</a> (Prof. Jessy Grizzle)</li>
        <li><a href="http://www.birds.eecs.umich.edu/" target="_blank">Biologically Inspired Robotics and Dynamical Systems (BIRDS) Lab</a> (Prof. Shai Revzen)</li>
    </ul>
    <li><b>Group 2:</b></li>
    <ul>
        <li><a href="http://haptixlab.engin.umich.edu/" target="_blank">Haptix Laboratory</a> (Prof. Brent Gillespie)</li>
        <li><a href="http://ram-lab.engin.umich.edu/" target="_blank">Robotics And Motion Laboratory (RAM-Lab)</a> (Prof. C. David Remy)</li>
        <li><a href="http://me.engin.umich.edu/brl/" target="_blank">Biomechanics Research Laboratory (BRL)</a> (Prof. James Ashton Miller)</li>
    </ul>
    <li><b>Group 3:</b></li>
    <ul>
        <li><a href="http://progress.eecs.umich.edu/" target="_blank">Laboratory for Progress</a> (Prof. Chad Jenkins)</li>
        <li><a href="http://web.eecs.umich.edu/~kuipers/research/" target="_blank">Intelligent Robotics Lab</a> (Prof. Benjamin Kuipers)</li>
        <li><a href="http://april.eecs.umich.edu/" target="_blank">APRIL Robotics Lab</a> (Prof. Edwin Olson)</li>
    </ul>
</ul>

<br>
<h3>Schedule</h3><br>
<table class="table table-striped table-program" width="10%">
    <tr>
        <td width="15%"><b>12:00</b></td>
        <td>Morning Session Ends</td>
    </tr>
    <tr>
        <td><b>12:10</b></td>
        <td>Buses Depart Michigan League</td>
    </tr>
    <tr>
        <td><b>12:20</b></td>
        <td>Arrive at MCity for Tour</td>
    </tr>
    <tr>
        <td><b>12:45</b></td>
        <td>Depart MCity</td>
    </tr>
    <tr>
        <td><b>12:50</b></td>
        <td>Arrive at North Campus</td>
    </tr>
    <tr>
        <td><b>12:55</b></td>
        <td>Group Lab Tours (see above)</td>
    </tr>
    <tr>
        <td><b>13:35</b></td>
        <td>Return to Buses</td>
    </tr>
    <tr>
        <td><b>13:40</b></td>
        <td>Buses Depart North Campus</td>
    </tr>
    <tr>
        <td><b>13:50</b></td>
        <td>Arrive at Michigan League</td>
    </tr>

</table>

<br>
<br>
<br>

<!--(bake includes/common_bottom.html)-->
