<!--(bake includes/common_top.html)-->
<h3>RSS 2016 Venue</h3>
<p>
The conference will be held at <a href="http://www.music.umich.edu/about/facilities/central_campus/rackham/index.htm" target="_blank">Rackham Auditorium</a> in Ann Arbor, Michigan, USA.
</p>
<br>
<div class="embed-responsive embed-responsive-4by3">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2951.9146243157297!2d-83.73827293089337!3d42.28034579541692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883cae41b17e2f4d%3A0xd7199f2dad45bc94!2sRackham+Auditorium!5e0!3m2!1sen!2sus!4v1440716665245"></iframe>
</div>
<br>
<div class="embed-responsive embed-responsive-16by9">
<iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sen!2sus!4v1440718225764!6m8!1m7!1skqQcIDPJMKnqhXee1tkT6A!2m2!1d42.28034579541692!2d-83.73827293089337!3f358!4f0!5f0.7820865974627469" allowfullscreen></iframe>
</div>
<br><br>

<b>Conference Banquet</b><br>
<p>
The conference banquet will be hosted at the iconic <a href="https://www.thehenryford.org/visit/henry-ford-museum" target="_blank">Henry Ford Museum</a> on Tuesday evening, June 21, 2016. This 12-acre museum features wide-ranging exhibits that document American innovation in agriculture, manufacturing, aviation, automobiles, and more. Transportation to and from the banquet will be provided. You will not want to miss this fantastic event!
</p>
<br>
<div class="embed-responsive embed-responsive-16by9">
<iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sen!2sus!4v1460148980711!6m8!1m7!1soKEuCwu3I4BRZ76YcVMAxQ!2m2!1d42.30263777195318!2d-83.23305888002125!3f317.6277605820266!4f31.68890701515957!5f0.7820865974627469" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<br><br>


<!--(bake includes/common_bottom.html)-->
