<!--(bake includes/common_top.html)-->
<h3>Workshops</h3>
Workshops and tutorials will take place June 18th and 19th, 2016.
They will commence at 8:30 and end at 17:30.
The workshop coffee breaks will occur between 10:00 and 10:30 AM and 3:30 and 4:00 PM, with lunch scheduled for 12:00 - 2:00 PM,
as detailed on the <a href="programoverview.html">program overview</a>.
The workshops will take place at the University of Michigan, Rackham Building and North Quadrangle.
<br>
<br>
<table class="table table-striped table-workshop">
  <thead>
    <tr>
      <th width="15%" align="center">WS</th>
      <th width="38%">Title</th>
      <th width="32%">Organizers</th>
      <th width="5%">Date</th>
      <th width="10%">Room</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a id="saturday" class="anchor"></a>SAT-01</td>
      <td><a href="http://allrobotshelping.wordpress.com" target="_blank">
          Socially and Physically Assistive Robotics for Humanity</a></td>
      <td>Chien-Ming Huang<br>Brenna Argall<br>Brian Scassellati</td>
      <td>18-Jun</td>
      <td>North Quad 1255</td>
    </tr>
    <tr>
      <td>SAT-02</td>
      <td><a href="http://juxi.net/workshop/deep-learning-rss-2016/" target="_blank">
          Are the Skeptics Right? Limits and Potentials of Deep Learning in Robotics</a></td>
      <td>Niko S&uumlnderhauf<br>J&uumlrgen Leitner<br>Michael Milford<br>Ben Upcroft<br>Pieter Abbeel<br>Wolfram Burgard<br>Peter Corke</td>
      <td>18-Jun</td>
      <td>Rackham Auditorium</td>
    </tr>
    <tr>
      <td>SAT-03</td>
      <td><a href="https://sites.google.com/site/rss16irt/" target="_blank">
          Recent Advances in Planning and Manipulation for Industrial Robots</a></td>
      <td>Jia Pan<br>Weiwei Wan<br>Dinesh Manocha<br>Kensuke Harada</td>
      <td>18-Jun</td>
      <td>North Quad 2255</td>
    </tr>
    <tr>
      <td>SAT-04</td>
      <td><a href="http://people.csail.mit.edu/cdarpino/RSS2016WorkshopHRcolla/" target="_blank">
          Planning for Human-Robot Interaction: Shared Autonomy and Collaborative Robotics</a></td>
      <td>Claudia Perez-D'Arpino<br>Stefanos Nikolaidis<br>Henny Admoni<br>Anca Dragan<br>Julie Shah<br>Andrew Schwartz<br>Zhi-Hong Mao<br>Siddhartha Srinivasa</td>
      <td>18-Jun</td>
      <td>Rackham Amphitheatre</td>
    </tr>
    <tr>
      <td>SAT-05</td>
      <td><a href="http://mrsl.grasp.upenn.edu/rss2016workshop/" target="_blank">
          Challenges in Modeling and Control of Small-Scale Robots</a></td>
      <td>Konstantinos Karydis<br>Yash Mulgaonkar<br>Ani Hsieh<br>Herbert Tanner<br>Vijay Kumar</td>
      <td>18-Jun</td>
      <td>Rackham West Conference Room</td>
    </tr>
    <tr>
      <td><strike>SAT-06</strike></td>
      <td><strike>
          Robotics Programs: What, How, and Why?</strike></td>
      <td><b><font color="7a121c">Workshop Canceled</font></b></td>
      <td><strike>18-Jun</strike></td>
      <td>-</td>
    </tr>
    <tr>
      <td>SAT-07</td>
      <td><a href="http://nasaswarmathon.com/RSSworkshop/" target="_blank">
          NASA Swarmathon Challenge</a></td>
      <td>Melanie Moses<br>Joshua Hecker</td>
      <td>18-Jun</td>
      <td>North Quad Ehrlicher Room</td>
    </tr>
    <tr>
      <td>SAT-08</td>
      <td><a href="http://radlab.mechse.illinois.edu/proposed-rss-workshop/" target="_blank">
          Embodied Experience and Movement Observation for Roboticists</a></td>
      <td>Amy Laviers</td>
      <td>18-Jun<br>Morning</td>
      <td>North Quad 2185</td>
    </tr>
    <tr>
      <td>SAT-09</td>
      <td><a href="http://minimality.mit.edu/" target="_blank">
          Minimality & Design Automation</a></td>
      <td>Andrea Censi<br>Jason O'Kane<br>Dylan Shell</td>
      <td>18-Jun<br><strike>Afternoon</strike><br>Full Day</td>
      <td>North Quad 2245</td>
    </tr>
    <tr>
      <td>SAT-10</td>
      <td><a href="http://chitsazlab.org/robotics/rlp2016/" target="_blank">
          Robot Learning and Planning Workshop</a></td>
      <td>Reza Iraji<br>Hamidreza Chitsaz</td>
      <td>18-Jun<br>Afternoon</td>
      <td>Rackham Assembly Hall</td>
    </tr>
    <tr>
      <td>SAT-11</td>
      <td><a href="http://cse.unl.edu/~bduncan/rss/index.html" target="_blank">
          Human-Robot Interaction for Small and Personal Unmanned Aerial Vehicles</a></td>
      <td>Joshua Peschel<br>Brittany Duncan</td>
      <td>18-Jun<br>Afternoon</td>
      <td>Rackham Earl Lewis Room</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a id="sunday" class="anchor"></a>SUN-01</td>
      <td><a href="http://ram-lab.engin.umich.edu/assistive_robotic_devices_rss2016.html" target="_blank">
          Assistive Robotic Devices for Dynamic Locomotion</a></td>
      <td>C. David Remy<br>Deanna Gates<br>Steven Collins</td>
      <td>19-Jun</td>
      <td>North Quad 2245</td>
    </tr>
    <tr>
      <td>SUN-02</td>
      <td><a href="http://www.bootstrapping-manipulation.com/" target="_blank">
          Bootstrapping Manipulation Skills</a></td>
      <td>Oliver Kroemer<br>Scott Niekum<br>George Konidaris<br>Manuel Lopes</td>
      <td>19-Jun</td>
      <td>Rackham East Conference Room</td>
    </tr>
    <tr>
      <td>SUN-03</td>
      <td><a href="http://www.ece.rochester.edu/projects/rail/mlhrc2016/" target="_blank">
          Model Learning for Human-Robot Communication</a></td>
      <td>Matthew Walter<br>Thomas Howard</td>
      <td>19-Jun</td>
      <td>North Quad 1255</td>
    </tr>
    <tr>
      <td>SUN-04</td>
      <td><a href="http://rss16-representations.mit.edu/" target="_blank">
          Geometry and Beyond: Representations, Physics, and Scene Understanding for Robotics</a></td>
      <td>Enric Galceran<br>Luca Carlone<br>Gian Diego Tipaldi<br>Liam Paull<br>Andrea Censi<br>Cesar Cadena</td>
      <td>19-Jun</td>
      <td>North Quad 2255</td>
    </tr>
    <tr>
      <td>SUN-05</td>
      <td><a href="http://www.seas.upenn.edu/~nicbezzo/RoMa2016/" target="_blank">
          RoMa 2016: Robot Makers - The future of digital rapid design and fabrication of robots</a></td>
      <td>Nicola Bezzo<br>Ankur Mehta<br>Mike Tolley<br>Cagdas Onal</td>
      <td>19-Jun</td>
      <td>North Quad 2185</td>
    </tr>
    <tr>
      <td>SUN-06</td>
      <td><a href="http://www.kavrakilab.org/2016-rss-workshop/" target="_blank">
          Workshop on Task and Motion Planning</a></td>
      <td>Neil Dantam<br>Swarat Chaudhuri<br>Moshe Vardi<br>Lydia Kavraki</td>
      <td>19-Jun</td>
      <td>Rackham Auditorium</td>
    </tr>
    <tr>
      <td>SUN-07</td>
      <td><a href="http://robotics.fel.cvut.cz/demur16/" target="_blank">
          Workshop on On-line decision-making in multi-robot coordination</a></td>
      <td>Jan Faigl<br>Olivier Simonin<br>Fran&ccedilois Charpillet<br>Geoffrey Hollinger<br>Jen Jen Chung</td>
      <td>19-Jun</td>
      <td>Rackham West Conference Room</td>
    </tr>
    <tr>
      <td>SUN-08</td>
      <td><a href="http://qav.comlab.ox.ac.uk/trust_in_autonomy/" target="_blank">
          Social Trust in Autonomous Robots</a></td>
      <td>Morteza Lahijanian<br>Maria Svorenova<br>Marta Kwiatkowska</td>
      <td>19-Jun</td>
      <td>Rackham Earl Lewis Room</td>
    </tr>
    <tr>
      <td>SUN-09</td>
      <td><a href="http://www.cs.unm.edu/amprg/robotGuru16" target="_blank">
          Becoming a Robot Guru&nbsp2 Workshop</a></td>
      <td>Lydia Tapia<br>Aleksandra Faust<br>Meeko Oishi<br>Hao-Tien Chiang<br>Elizabeth Esterly</td>
      <td>19-Jun</td>
      <td>North Quad Ehrlicher Room</td>
    </tr>
    <tr>
      <td>SUN-10</td>
      <td><a href="http://www.umiacs.umd.edu/~yzyang/deeprobotics.html" target="_blank">
          Deep Learning for Autonomous Robots</a></td>
      <td>Yi Li<br>Yezhou Yang<br>Michael James<br>Danil Prokhorov</td>
      <td>19-Jun<br>Morning</td>
      <td>Rackham Amphitheatre</td>
    </tr>
    <tr>
      <td>SUN-11</td>
      <td><a href="http://rss16iprloc.robotics.usc.edu/" target="_blank">
          Robot-Environment Interaction for Perception and Manipulation: Interactive Perception Meets Reinforcement Learning and Optimal Control</a></td>
      <td>Karol Hausman<br>Herke van Hoof<br>Nikolay Atanasov<br>Roberto Martin Martin<br>Oliver Brock</td>
      <td>19-Jun<br>Morning</td>
      <td>Rackham Assembly Hall</td>
    </tr>
    <tr>
      <td>SUN-12</td>
      <td><a href="http://tinyurl.com/vprice-RSS16" target="_blank">
          Visual Place Recognition: What is it Good For?</a></td>
      <td>Niko S&uumlnderhauf<br>Peer Neubert<br>Ben Upcroft<br>Michael Milford</td>
      <td>19-Jun<br>Afternoon</td>
      <td>Rackham Amphitheatre</td>
    </tr>
    <tr>
      <td>SUN-13</td>
      <td><a href="http://www.quori.org/community-input-meetings/#rss-16-1" target="_blank">
          A Community-Driven Modular Research Platform for Sociable Human-Robot Interaction</a></td>
      <td>Mark Yim<br>Maja Mataric<br>Ross Mead</td>
      <td>19-Jun<br>Afternoon</td>
      <td>North Quad 1265</td>
    </tr>
  </tbody>
</table>
<br>
<br>
<!--(bake includes/common_bottom.html)-->
