<!--(bake includes/common_top.html)-->
<h3>Workshop Proposal Template</h3>

<p>Download a Word version of this template <a href="docs/RSS2016WorkshopProposalTemplate.docx">here</a>.</p>
<br><br>
<div class="text-center"><b>
RSS 2016 WORKSHOP PROPOSAL TEMPLATE<br>
Workshop Title<br>
Workshop Organizers<br>
</div></b>
<br>
<div class="text-left">
<b>Type of Event:</b> [e.g., workshop, tutorial, competition, demonstration]<br>
<b>Duration:</b> [e.g., 1/2 day, 1 day]<br>
<b>Event URL:</b> [This link should be active at the time of the proposal with preliminary or tentative information. The page should clearly indicate that it is a "Proposed RSS Event".]<br><br>
</div>

<b>Organizers:</b><br>
[Please provide email addresses, URLs and affiliations. Furthermore, indicate which one of the organizers will act as the primary contact person. The expectation is that the primary contact person will be able to promptly respond to messages from the workshop co-chairs.]<br><br>

<b>Abstract:</b><br>
[This should be a short paragraph that will be used to advertise the workshop through the web page of RSS. Please limit the abstract to 250 words. The abstract will be used to describe the workshop on the RSS website.]<br><br>

<b>List of speakers/participants:</b><br>
[Provide a list of speakers and potential topics, if available. Indicate whether speakers have been confirmed or that their final confirmation is pending.]<br><br>

<b>Event Schedule and Description:</b><br>
[Please provide details regarding the event, such as intended schedule and structure, e.g., discussion. What steps will you take in order to encourage discussion and interactions during the event?]<br><br>

<b>Plan for soliciting participation:</b><br>
[Describe what steps you will take in order to advertise and encourage participation in your event. Steps in this direction that go beyond forwarding an email to research-worldwide are encouraged.]<br><br>

<b>Intended audience:</b><br>
[Provide a description of the communities that will be interested in this event and why you believe they will attend. Indicate whether communities related to robotics that are not traditionally participating at RSS would be interested in your event. Mention related past events, if any, and their level of success.]<br><br>

<b>Equipment and room requirements:</b><br>
[e.g., whether you plan to have posters - how many do you expect to need? Flip charts - how many? Please list everything that requires logistics or monetary effort from our side]<br><br>


<!--(bake includes/common_bottom.html)-->
